[2022-08-12 12:58] czgdp1807 opened #959 "Implementing hyperbolic trigonometric, exponential and rounding functions in NumPy"
Below I have provided some links to get started and then explained what you both are supposed to do,

**Links to get started**

1. https://github.com/lcompilers/lpython/blob/main/src/runtime/lpython_intrinsic_numpy.py - Contains definitions of `sin`, `cos`, `tan`, `log`, `log2`, `log10`, `sqrt` for `f32` and `f64` types. Some points to be noted - i) `@vectorize` decorator automatically vectorizes

[2022-08-12 12:59] czgdp1807 commented on #959
@Madhav2310 Assigning this to you (I cannot assign non-members of `lcompilers` Github organisation so consider this as the assignment)

[2022-08-12 13:02] czgdp1807 opened #960 "Implementing inverse trigonometric and angle utility functions in NumPy"
**Links to get started**

See https://github.com/lcompilers/lpython/issues/959#issue-1337177101

**What you have to do?**

- [x] `arcsin` - https://github.com/lcompilers/lpython/pull/1054
- [x] `arccos` - https://github.com/lcompilers/lpython/pull/1054
- [ ] `arctan` - https://github.com/lcompilers/lpython/pull/1062
- [ ] `degrees` - https://github.com/lcompilers/lpython/pull/1062
- [ ] `radians`

[2022-08-13 15:51] czgdp1807 opened #964 "Supportding `dict` in LLVM backend"
I gave a thought on how should we go about implementing this. Before writing my conclusion following points should be noted,

1. Implementing a Hash function is tricky for now in LLVM backend. In addition, using a pre-existing one written in C language sounds like a good choice for me.
2. Scaling for various combination of types is extremely tricky and unsafe in C. Our `asr_to_llvm.cpp` allows to

[2022-08-13 15:51] czgdp1807 commented on #964
@certik What are your thoughts on this?

[2022-08-13 21:15] certik commented on #964
Yes, I think that seems like a good plan forward. Let's start in LLVM/C, and then later as LPython becomes stronger, we can move some parts of it to LPython and compile to ASR and then call it from the LLVM backend.

[2022-08-15 13:44] Thirumalai-Shaktivel opened #967 "In the dictionaries, values without keys is not recognized"
Error:
[code]

[2022-08-15 13:47] Thirumalai-Shaktivel opened #968 "List is not recognized in the GeneratorExp"
Error:
[code]

[2022-08-15 13:48] Thirumalai-Shaktivel commented on #968
Other example:
[code]

[2022-08-15 13:53] Thirumalai-Shaktivel opened #969 "ListComprehension Subscript is not recognized"
Error:
[code]

[2022-08-15 13:55] Thirumalai-Shaktivel commented on #969
Another example:
[code]

[2022-08-15 13:58] Thirumalai-Shaktivel commented on #918
I think the problem is with `\'`, when I add space in between the issue is resolved `\ '`. This has to be fixed in the tokenizer

[2022-08-15 14:01] Thirumalai-Shaktivel opened #970 "Tuple Subscript is not recognized"
Error:
[code]

[2022-08-15 14:03] Thirumalai-Shaktivel opened #971 "Comment after Type_Comment is not recognized"
Example:
[code]
Error:
[code]

[2022-08-15 14:06] Thirumalai-Shaktivel opened #972 "Type Comment for the Function decorator is not recognized"
Example:
[code]
Error:
[code]

[2022-08-15 14:08] Thirumalai-Shaktivel opened #973 "Comment after the Singleline Multi statement is not recognized"
Error:
[code]

[2022-08-15 14:11] Thirumalai-Shaktivel opened #974 "Do not allow mixed (spaces & tab) indent"
Example:
[code]
Error:
[code]

[2022-08-15 17:48] ansharlubis commented on #942
[code]
Works on ASR, does not work on LLVM.

[2022-08-16 05:54] Thirumalai-Shaktivel commented on #974
The problem is actuatlly with the `tab` here. Instead of the 4 space, a tab is used.

[2022-08-16 07:25] czgdp1807 opened #977 "Returning data structures defined by struct in backends"
I slept on the idea of implementing this and found out that we need to make a design choice. The choice will be applicable to any data structure defined by a struct (i.e., lists, tuples, class, excluding arrays though because they are already handled in `array_op` ASR pass). First let's note a couple of points,

1. **Data structures defined by struct should be returned by value** - We cannot retur

[2022-08-16 07:50] Thirumalai-Shaktivel commented on #919
Related to tuple issue: #719

[2022-08-16 08:19] Thirumalai-Shaktivel commented on #918
@certik I have a doubt?
In the tokenizer:
https://github.com/lcompilers/lpython/blob/2fda6cb359c787db0a042db42a30a6831e531635/src/lpython/parser/tokenizer.re#L278
`'\\"'` should not be recognized in the string with `"`, right?
Like example:
[code]
should not be recognized!
[code]
[code]
Also, why `('\"'|[^"\x00])*` can be only `([^"\x00])*`, right? Any specific reason for adding it?

[2022-08-16 14:09] Thirumalai-Shaktivel commented on #719
Remaining tuple issues are:
[code]

[2022-08-16 14:15] #972 closed

[2022-08-17 12:26] Thirumalai-Shaktivel commented on #971
Also, Recognize Type_Ignore pr Type_Comment within the parantheses of Function call.
Example:
[code]

[2022-08-17 13:34] certik opened #983 "Dict implementation design"
Here are the freedoms that we have in implementation dictionaries:

* Hash function
* load factor / initial size of an array
* array resizing strategy (rehashing or not)
* key collision strategy
* memory allocation

Here is how we can do this:

* [ ] We start with some defaults (just one choice for all of the above)
* [ ] We implement more (eventually all) choices, and allow the user to select usi

[2022-08-17 14:54] czgdp1807 commented on #960
@redbopo Feel free to take it over whenever you have time.

[2022-08-17 15:06] czgdp1807 commented on #983
Adding TODOs here after #975 is merged (in decreasing priority order),

- [ ] Create iterators using `builder->CreateAlloca` for `LLVMList` and `LLVMDict` outside user loops. In case we enter a loop in LLVM backend then let the `list_api`, `dict_api` so that they can set their iterators before hand.
- [ ] Benchmarks dict right after the above issue is resolved.
- [ ] Implement [separate chaining](

[2022-08-17 15:31] #964 closed

[2022-08-17 15:32] ansharlubis opened #984 "Draft: Restrictions for generics"
Here's an idea of how to have user-defined restrictions.
[code]

[2022-08-17 20:18] certik commented on #977
Yes, choice 1 to start is fine.

[2022-08-17 20:19] certik commented on #918
Looks like a bug, we probably have to redo how the strings are recognized.

[2022-08-17 20:21] certik commented on #928
Thanks @awfeequdng for reporting the issue. We have to implement multiple assignments.

[2022-08-18 08:06] #719 closed

[2022-08-18 14:49] certik opened #987 "Support both column-major and row-major"
It would be exposed to the user using the existing NumPy syntax in `array`, `reshape` and other functions, which all have an `order` argument which accepts `C`, `F` (for C or Fortran order) among other things.

I would only do compile time order, not runtime like in NumPy. That is, the runtime descriptor in LLVM would not store the order. Rather, the ASR node for the array type would contain `layo

[2022-08-18 14:52] certik commented on #987
I think always giving compiler errors when assigning arrays of different layouts might work great: the user has to explicitly do `a.reshape(order="F")` to reshape RowMajor to ColumnMajor.

When doing `a.transpose().reshape(order="F")` where `a` is `order="C"`, we can later add an optimization that effectively makes this a no-op.

[2022-08-18 14:52] czgdp1807 commented on #987
Sounds good. Let me know whenever this is needed. I think ASR part can be quick. But anyways, I think this should added end to end from Parser to LLVM backend.

[2022-08-18 14:53] czgdp1807 commented on #987
Definitely.

[2022-08-18 14:55] certik commented on #987
Also, the type annotation should always specify the layout if it is not RowMajor. Something like:
[code]
That way everything is explicit and clear when any conversion / reshape will happen. While this will give a compiler error:
[code]
Which is consistent with the design goal of making all casts explicit.

[2022-08-19 13:17] czgdp1807 opened #992 "Compiling Python packages with LPython"
Following is the plan to achieve the goal mentioned in issue title,

1. Write down small type annotated test packages in Python syntax. The nesting can vary from just 1 folder/package having an `__init__.py` file to 3-4 folders/subpackages one inside the other each level having an `__init__.py`. We can write packages for different sorting algorithms, graph algorithms and some practical stuff like

[2022-08-19 13:25] Shaikh-Ubaid commented on #992
Interested!

[2022-08-19 13:30] Shaikh-Ubaid commented on #992
Interested

[2022-08-19 16:15] certik commented on #992
Yes, we should get LPython working with actual Python packages, that we write ourselves to ensure we stick to the subset that LPython supports. And the goal here is to fix up the inevitable bugs that we either know about or that we will hit. After most things work, it will allow people to upload packages to PyPi and to have dependencies, etc. We can use regular Python tooling to install dependenci

[2022-08-19 16:34] certik opened #996 "Implement proper deallocation"
Of:

* dicts
* lists
* strings (#805)
* function return values (#494)

And anything else that might leak memory currently.

[2022-08-19 16:35] certik commented on #155
I'll use this issue to link to issues of high priority:

* #992
* #996

We'll figure out a detailed roadmap. Until then, feel free to work towards any of the issues here.

[2022-08-19 16:48] czgdp1807 commented on #996
The deallocation should be implicit (done by LPython), explicit (done by user via `del` statements), right?

[2022-08-19 16:50] #970 closed

[2022-08-19 16:50] #968 closed

[2022-08-19 16:55] czgdp1807 commented on #992
I think we can re-use the serialization-deserialisation mechanism of LFortran and use it here to compile Python modules till ASR level. In fact, modules written by us right now compile (parsed + AST->ASR) only when we import them. However LFortran pre-compiles them till ASR and loads them if we import in our program. LPython should behave in a similar manner I think. Also, the question is how to i

[2022-08-19 17:01] #969 closed

[2022-08-20 06:32] certik commented on #996
Yes, implicit when the (allocatable) variable goes out of scope. I think dicts, lists, strings should have "allocatable" set, and then we should add some mechanism into libasr that both LFortran and LPython can use to automatically insert the "ImplicitDeallocate" ASR nodes.

And `del` would delete it right away.

[2022-08-20 06:35] certik commented on #992
Yes. I think CPython compiles every module into `.pyc`, so LPython would compile every module to `.lpy` (or even to `.pyc` to reuse the extension), and the compiled module would be just serialized ASR. Just like LFortran works with the `.mod` files.

[2022-08-20 06:53] #971 closed

[2022-08-20 11:12] czgdp1807 commented on #992
I see. Let me try implementing this idea then. Let's see how far we can get.

[2022-08-20 13:46] certik opened #1000 "Dict benchmark"
See here: https://gist.github.com/czgdp1807/e7f7b6ca52c57b16b27ec8d0259c6d4a

There are multiple C++ versions, on my computer this one seems to be the fastest:
[code]
And here is a straightforward LPython version:
[code]

This gives me:
[code]

[2022-08-20 14:50] Thirumalai-Shaktivel commented on #1000
Intel® Core™ i5-8250U CPU @ 1.60GHz × 8 (Ubuntu 22)
[code]

[2022-08-20 15:17] Smit-create commented on #1000
Apple Mac M1 (2020):

[code]

[2022-08-21 06:38] Smit-create commented on #924
Currently, the ASR node are constructed as:
[code]
The only use of type here during reading is to check the struct type:
[code]
With the tuple, we have difficulty detecting the i-th type during runtime when the index is a variable.

[2022-08-21 06:43] czgdp1807 commented on #924
I think passing non-constant indices to a tuple is impossible. Because each element of a tuple can be of different type so even building the ```TupleItem``` node in ASR is not possible with runtime indices for accessing elements of a tuple.

[2022-08-21 09:49] #928 closed

[2022-08-21 10:36] certik opened #1006 "Disallow all implicit casting"
We should disallow all implicit casting. In particular, this should not work anymore:
[code]
Rather, one would need to do `x = f64(y)`. If there is a better way for the syntax of these casts, we could use it, but the `f64(y)` might work both in CPython and LPython.

The tricky part is what to do with constants. I think integers like `3` should be i32 and floats like `3.0` should be f64.

Then how

[2022-08-21 10:37] czgdp1807 commented on #1006
Makes sense to me. Let's go ahead with this.

[2022-08-21 11:25] certik commented on #1006
Since in Python you *cannot* do `x: f64 = 1` (because CPython and LPython would have different types), and instead you are forced to do either `x: f64 = 1.0` or `x: f64 = f64(1)`, it seems that we should not bother with allowing `y: f64; x: f64 = y + 1`, and simply force either `x: f64 = y + 1.0` or `x: f64 = y + f64(1)`.

So let's try to disallow all implicit casts. Then see where we are and if t

[2022-08-22 13:03] Smit-create commented on #892
CPython does something like the following, it allows to declare variables inside for loop but they are also accessible outside the loop:
[code]

The output is:
[code]

[2022-08-23 10:37] Thirumalai-Shaktivel commented on #974
The actual issue is fixed. But, the following syntax should not be allowed
[code]

[2022-08-23 12:19] Thirumalai-Shaktivel opened #1017 "Internal Compiler Error: parser returned unknown error"
[code]
https://github.com/sympy/sympy/blob/master/sympy/parsing/autolev/_listener_autolev_antlr.py

[2022-08-23 12:20] Thirumalai-Shaktivel commented on #1017
I tried the trace out the actual error, but I was not able to figure it out.
@certik, in what situation, does the parser returns this error?

[2022-08-23 13:12] certik opened #1018 "Fix warnings in main"
On M1
[code]

[2022-08-23 13:13] #967 closed

[2022-08-23 13:13] #918 closed

[2022-08-23 14:50] Abdelrahman-Kh-Fouad commented on #1018
yes, it's from me, i will fix it.

[2022-08-24 06:07] Thirumalai-Shaktivel opened #1019 "Starred argument in the function call is not recognized"
[code]

[2022-08-24 06:17] Thirumalai-Shaktivel opened #1020 "Underscore is not recognized in the Hexadecimal"
[code]

[2022-08-24 06:21] Thirumalai-Shaktivel opened #1021 "[Do not close] Type ignore is not recognized"
[code]

[2022-08-24 06:34] Thirumalai-Shaktivel opened #1022 "Match statement is not recognized"
Example:
[code]
Error:
[code]

[2022-08-24 06:41] Thirumalai-Shaktivel opened #1023 "Tokenizer error in the string"
[code]

[2022-08-24 06:44] Thirumalai-Shaktivel commented on #1023
Minimal example:
[code]

[2022-08-24 06:51] Thirumalai-Shaktivel opened #1024 "`Not` unexpected in the expression"
Example:
[code]
Error:
[code]

[2022-08-24 06:54] Thirumalai-Shaktivel opened #1025 "`@=` is not handled in the expression"
Example:
[code]

[2022-08-24 06:57] Thirumalai-Shaktivel opened #1026 "With statement tuple is not handled correctly"
[code]

[2022-08-24 07:00] Thirumalai-Shaktivel commented on #1020
Another example:
[code]

[2022-08-24 07:03] Thirumalai-Shaktivel opened #1027 "`Starred id` is not recognized in the comprehension"
[code]

[2022-08-24 07:06] Thirumalai-Shaktivel opened #1028 "simultaneous `if stmt` in the `list comprehension` is not recognized"
[code]

[2022-08-24 07:10] Thirumalai-Shaktivel opened #1029 "`await` as an expression is not recognized"
[code]

[2022-08-24 07:12] Thirumalai-Shaktivel commented on #1029
Other example
[code]

[2022-08-24 07:40] Thirumalai-Shaktivel opened #1030 "Empty Dictionary subscript is not recognized"
[code]

[2022-08-24 07:44] Thirumalai-Shaktivel opened #1031 "target `tuple list` is not recognized in `async for stmt`"
[code]

[2022-08-24 07:51] Thirumalai-Shaktivel opened #1032 "`async` is not recognized in the list comprehension"
[code]

[2022-08-24 09:33] Thirumalai-Shaktivel commented on #1029
Remaining issues:
[code]

[2022-08-24 09:43] czgdp1807 opened #1035 "``mod`` for arrays"
@certik Builtin `%` in LPython doesn't work on arrays by default because it is implemented as a function and not a `binop`. So the question is which approach to follow,
1. To make `_mod` function defined in `lpython_builtin.py` vectorised;
2. Define `Mod` as `binop` and then use `builder->CreateSRem` in LLVM backend. Note that not all backends might support modulus operation on types other than in

[2022-08-24 10:00] Thirumalai-Shaktivel commented on #1024
Another example:
[code]

[2022-08-24 10:29] czgdp1807 commented on #992
In order to achieve first and second point in https://github.com/lcompilers/lpython/issues/992#issue-1344432422, I think we need to write `CMakeLists.txt` for the small test package. For now we can use `add_custom_command` to generate LLVM object files and then link those object files together.  So at the end for a single sub-package a static/shared binary will be generated. Does this make sense?

[2022-08-24 10:45] czgdp1807 commented on #983
Question - Should we allow floats/reals as keys?

The reason why I am asking this question is because floats are always approximately equal. So, converting them to int of same size by memcpy won't work well. Plus, its not a good practice to use floats as keys. 123.000 and 123.000001 are approximately same, now user may expect them to work as a single key but due to slight difference both will give

[2022-08-24 13:25] certik commented on #983
For now I would not. Later once we allow a use defined hash, we can, but this is rarely used in Python anyway, so for now let's just give a compiler error.

[2022-08-24 13:35] certik commented on #992
For end users the main mode that we want to support is automatic compilation, just like CPython works.

Is the CMake based mode just for testing that we can compile things by hand.

[2022-08-24 13:41] czgdp1807 commented on #892
To enable [the above](https://github.com/lcompilers/lpython/issues/892#issuecomment-1222330814), one might need to move the variables declared inside the loop at a line just before the starting of the loop. Seems like CPython has a runtime scope and loops don't have any scope of their own. So, CPython adds `x` into the current runtime scope and when the loop ends `x` is still present inside the sc

[2022-08-24 13:50] certik commented on #992
We will probably support both modes:

* use cmake
* not use cmake, just do `lpython a.py` and if `a.py` imports a package `b`, the package `b` gets automatically compiled (and we can support some command line flag to compile just the package `b` into a list of `.pyc` files.)

I think most users would prefer the second approach.

Or to rephrase it -- the cmake build system can be automatically gene

[2022-08-24 13:57] czgdp1807 commented on #992
I see. Makes sense. Second approach would be much easier. We will have to implement timestamp strategy to check whether the file has been changed or not. Do you know how to fetch the timestamp the last time a file was modified on disk a.k.a modification time? https://stackoverflow.com/a/40504396 seems to be a promising way to do get the modification time of a file but if you know of anything bette

[2022-08-24 17:36] ansharlubis commented on #984
Before going to the above example, let's consider a simpler example:
[code]
The syntax `f<plus->int.__add__>(1,2)` isn't supported by Python, so I figure it can be treated as an extra argument in `f(1,2, plus=int.__add__)` because if I'm not mistaken Python ignores the extra arguments.

[2022-08-25 01:46] Thirumalai-Shaktivel commented on #1022
Here, match and case are soft keywords: https://docs.python.org/3/reference/compound_stmts.html#the-match-statement
i.e., 'match' can be used as an identifier!
@certik how do we handle this?

[2022-08-25 05:20] Smit-create commented on #881
This seems to be fixed now. Does this work fine for you?

[2022-08-25 10:59] certik opened #1043 "Benchmarks"
List of representative benchmarks:

* #1000
* #860
* #857
* #520

[2022-08-25 15:30] Abdelrahman-Kh-Fouad commented on #881
yes, it works with me.

[2022-08-25 15:35] #488 closed

[2022-08-25 18:24] #1018 closed

[2022-08-25 18:25] #1020 closed

[2022-08-25 18:30] #1028 closed

[2022-08-25 18:59] #204 closed

[2022-08-25 20:34] #881 closed

[2022-08-26 06:51] Smit-create commented on #639
Fixed by: https://github.com/lcompilers/lpython/pull/634

[2022-08-26 06:51] #639 closed

[2022-08-27 10:26] akshanshbhatt commented on #916
I went through the list of open issues of the `Parser` tag. Since this issue is already fixed in https://github.com/lcompilers/lpython/pull/951, can we close it?

[2022-08-27 19:24] #1024 closed

[2022-08-29 08:49] czgdp1807 commented on #520
LLVM already provides its remainder instruction for integers. See [`URem`](https://llvm.org/doxygen/classllvm_1_1IRBuilderBase.html#ab9a873b7d011645b5b649c65f4be21ec) and [`SRem`](https://llvm.org/doxygen/classllvm_1_1IRBuilderBase.html#ac8b8e9a935e11cc0697814fe494f155c).

[2022-08-29 08:55] czgdp1807 commented on #992
So I am planning to implement the strategy in my above comment. However the problem is that when you auto-compile and re-use the auto-compiled modules then symbol table IDs depend on the order in which you compile those modules. This would have consequences on `python run_tests.py -u` since it doesn't follow any particular order of compilation. Now say test `a.py` and `b.py` use a module `m.py` th

[2022-08-29 12:36] #1027 closed

[2022-08-29 12:36] #1025 closed

[2022-08-29 12:41] Thirumalai-Shaktivel commented on #331
@czgdp1807, is there anything else to be implemented to complete this issue?

[2022-08-29 12:43] Thirumalai-Shaktivel commented on #328
Is this issue fixed?
@certik @czgdp1807

[2022-08-29 16:15] certik commented on #992
This is dealt with in the Fortran desearilization by constructing a new symbol table and resolving it correctly. So everything should just work, as long as we reuse all the code, which I strongly recommend. :)

[2022-08-30 06:24] czgdp1807 opened #1063 "Build warning from ``tokenizer.re``"
Logs below,

[code]

cc: @Thirumalai-Shaktivel @certik

[2022-08-30 06:47] Smit-create commented on #1063
See #1056

[2022-08-30 08:49] certik commented on #1035
If the third approach works, we can go with that I think. Otherwise we can do 1., or 2.

[2022-08-30 11:29] Madhav2310 commented on #959
These

These functions have been successfully implemented in #1064 and #1002

[2022-08-30 11:57] Shaikh-Ubaid commented on #768
It seems this issue was fixed in https://github.com/lcompilers/lpython/commit/d01d61934b796175e7acb02e569f40c448e17218.

[2022-08-30 11:57] Shaikh-Ubaid commented on #768
Please, could someone possibly share if it is safe to close this issue.

[2022-08-30 12:03] Shaikh-Ubaid commented on #768
Shall I add the above test in the description of this issue as an `integration_test`?

[2022-08-30 13:12] Thirumalai-Shaktivel commented on #768
I think so.

Adding more stronger tests would make the LPython more bug-free. So, I think you can submit a PR for that!

[2022-08-30 15:11] #1063 closed

[2022-08-31 07:57] Smit-create commented on #865
Closing this via #1041

[2022-08-31 07:57] #865 closed

[2022-08-31 08:01] Smit-create commented on #680
This can be closed as this is fixed:
[code]
Output:

[code]

[2022-08-31 08:05] Smit-create commented on #651
This seems to be fixed now:
[code]

[2022-08-31 11:57] #1023 closed

[2022-09-01 03:33] Thirumalai-Shaktivel commented on #974
Remaining issues to fix:
[code]
[code]

[2022-09-02 04:48] #960 closed

[2022-09-02 08:27] czgdp1807 opened #1074 "Disallow ``f64``, ``f32``, ``c64``, ``c32`` as keys in ``dict``"
For background please read the following comments,

What is to be done?

How to be done?

We need to check for `ASR::is_a<ASR::Real_t>(*key_type) || ASR::is_a<ASR::Complex>(*key_type)` in the following places and throw a `SemanticError` with a nice explanation (take ideas from above and your own knowledge),

1. https://github.com/lcompilers/lpython/blob/4ea45c5338fbbf58b35b237134ca3da78d5c3c1b/src

[2022-09-02 13:11] xmnlab commented on #946
hey @certik if you don't mind, I would love to contribute to this issue.
as it would be my first contribution to the project maybe it could take some time.
do you have any deadline in mind for this issue?

[2022-09-02 18:24] Smit-create opened #1077 "``list`` in C++/C backend"
I was working on #210 and saw some test failures in CPP backend because of the List being not supported in CPP codegen. I can try adding their support and wanted to discuss one of the possibilities.
1. We can directly use CPP's `std::vector`, which provides almost all the operations as CPython's list like insert, remove, accessing element at any position, etc.

Any other suggestions for the same?

[2022-09-02 18:29] czgdp1807 commented on #1077
`std::vector` is slow. I would say going along the same path of LLVM would be better.

[2022-09-03 14:48] czgdp1807 commented on #1077
I am self-assigning this. Here's how I will do it,

1. Generate C/C++ code for lists only if lists are actually used (i.e., present in the ASR).
2. There are two ways to generate C/C++ code for lists,

i. Follow the LLVM logic which keeps everything inlined. Like when you call append in LLVM then the code is generated at that spot and no function call is made to fulfil the purpose. The benefit of

[2022-09-03 15:56] #974 closed

[2022-09-03 19:13] Shaikh-Ubaid commented on #768
Please, could someone possibly share if it is safe to close this issue?

cc: @czgdp1807

[2022-09-04 08:30] czgdp1807 commented on #1074
@ronnuriel Feel free to work on this. I am un-assigning my self.

[2022-09-04 09:45] #732 closed

[2022-09-04 09:46] #567 closed

[2022-09-04 11:18] ronnuriel commented on #1074
self-assigning

[2022-09-04 12:39] Smit-create commented on #737
I think we can close this. @czgdp1807 Has completed most of the implementation.

[2022-09-04 12:50] czgdp1807 commented on #737
`set` is left.

[2022-09-05 04:39] czgdp1807 opened #1082 "Support ``x: float`` as declaration"
The title is self descriptive. `x` should be a 64 bit floating point. @ronnuriel Feel free to send a PR and self-assign this issue if you are interested.

[2022-09-05 06:14] Thirumalai-Shaktivel commented on #946
Thanks for your interest in contributing to LPython. We appreciate it! 
Go ahead, make the required changes, and submit the PR. 
If you have any doubts, please ask.

[2022-09-05 06:30] Thirumalai-Shaktivel commented on #1043
Benchmarks to be implemented: #48

[2022-09-05 06:39] Thirumalai-Shaktivel commented on #162
I think this issue is fixed:
https://github.com/lcompilers/lpython/blob/8ba6a318b6d7e58b1dd9829eaf1c787a92fec396/integration_tests/test_builtin_divmod.py#L1-L13

[2022-09-05 07:09] Smit-create commented on #162
Yeah, that's right!

[2022-09-05 07:09] #162 closed

[2022-09-05 10:33] #1029 closed

[2022-09-05 15:12] Thirumalai-Shaktivel opened #1088 "stod Exception: "Out of range" for very small floating point number"
[code]
[code]

[2022-09-05 15:15] Thirumalai-Shaktivel opened #1089 "Float negative exponent stores `0` value in the AST"
[code]

[2022-09-05 19:04] #768 closed

[2022-09-06 04:05] Thirumalai-Shaktivel commented on #161
After altering the above example to:
[code]
it generates the output
[code]
I think this issue is fixed!

[2022-09-06 05:12] #161 closed

[2022-09-06 06:26] Thirumalai-Shaktivel commented on #1017
@akshanshbhatt pointed out!
This error might be caused because of the multiple nested if statements, For example
[code]
Error:
[code]

[2022-09-06 07:04] Thirumalai-Shaktivel commented on #203
How should we handle this?
Create a new node say, "ListComp" or use ASR pass?
@czgdp1807

[2022-09-06 09:42] czgdp1807 opened #1092 "Enable C backend for ``integration_tests/expr_07.py``"
On executing, `lpython --show-c integration_tests/expr_07.py` I get the following error,

[code]

[2022-09-06 09:46] czgdp1807 commented on #1092
How to fix?

Add `case` for `ASR::cast_kindType:: LogicalToCharacter` in the following switch-case

https://github.com/lcompilers/lpython/blob/84a073ce44a9a74213a4ac5648ee783bd38fc90f/src/libasr/codegen/asr_to_c_cpp.h#L583-L648

[2022-09-06 13:55] czgdp1807 opened #1094 "Declare `@ccall` only when asked by the user"
So as of now any function declared with `@ccall` is declared always in the generated code. However if someone has already declared their function in some other `.h` file then function decorated `@ccall` shouldn't be re-declared in the generated code. So we have to make the declaration of `@ccall` functions optional. Some options,

1. `ccall(static=true)`.
2. `ccall(declare=false)`.

[2022-09-06 13:55] czgdp1807 commented on #1094
@certik @rebcabin

[2022-09-06 14:15] czgdp1807 commented on #1094
I see. If there are large number of such functions then adding flags for each function in the `.h` would be difficult for the user. Also if the `.h` file is uneditable due to some reasons then `ifndef` approach may not work.

[2022-09-06 14:43] czgdp1807 commented on #1094
So after discussion with @rebcabin we figured that all the `ccall` decorated functions can go into `#ifndef IGNORE_REDECLARATIONS … #endif` block. If the user defines  in their headers then `IGNORE_REDECLARATIONS` or in a build file then all the redeclarations in LPython’s generated C code will be ignored.

[2022-09-07 05:37] czgdp1807 commented on #1094
Well seems like C compiler doesn't raise an error when we declare a function which is already declared in some header we have included.

**Example 1**

See https://github.com/czgdp1807/lpython/commit/4fa09ae9be3e34ece9a9e6fdc8c01c1a6525c8ac

Instructions (assuming you are in project root already)

* `cd integration_tests`
* `mkdir b3`
* `cmake -DKIND=c ..`
* `make bindc_05` (succeeds)
* `./bindc_0

[2022-09-07 06:00] ronnuriel commented on #1094
@czgdp1807 the compile did raise an error but I will check that again and get back to you

[2022-09-07 06:25] czgdp1807 commented on #1094
Sure. Send me an example of the problem (with the code, the instructions to run the code and the error you get). In the second example (where I re-declare `pow`) I simply used my compiler to generate the executable (no build systems of any kind). AFAICT, C compiler ignores the forward declarations if you are already providing it in a header file.

[2022-09-07 09:10] czgdp1807 commented on #1088
I think one cannot below `1.7e-308` for floating points. Doing, `4.94e-324/1.7e-308` gives, `2.9062685049485084e-16` in Python.

[2022-09-07 10:02] Smit-create commented on #1094
I also didn't get any error/warning for the same example.

[2022-09-07 11:23] Thirumalai-Shaktivel commented on #1088
Yup, there is a limit from `DBL_MAX = 1.79769e+308` to `DBL_MIN = 2.22507e-308` (https://en.cppreference.com/w/cpp/types/climits)

[2022-09-07 11:23] Thirumalai-Shaktivel commented on #1088
I think we can use [stold](https://cplusplus.com/reference/string/stold/)

[2022-09-07 11:45] ronnuriel commented on #1094
I've checked that issue and I had the "redundant-decls" flag set on, I removed it and it did solve the error, but now we are facing another issue:
In lpython we cant use `enum mmb_vr16` as a variable type so we using `i16` so its basically the same but different and that causes the next compilation error:
while the function declared with enum mmb_vr16 and we declared it with int16_t
**EXAMPLE:**

[2022-09-07 12:02] czgdp1807 commented on #1088
I don’t think that will work. long double same as double in many machines. The max I know of is 128 bit floating points but they are rare AFAIK.

[2022-09-08 13:42] czgdp1807 opened #1101 "Implement ``visit_StringConcat`` method in C backend"
On executing `lpython --show-c integration_tests/test_str_01.py` I get,

[code]

So we need to implement `visit_StringConcat` for C backend in the following class,

https://github.com/lcompilers/lpython/blob/8e47b95d9b4b6b0e40877cdd0d866ae9b172f3fb/src/libasr/codegen/asr_to_c.cpp#L34-L46

[2022-09-08 18:22] ansharlubis commented on #942
[code]
Similarly, this compiles into ASR, but does not work in LLVM.

[2022-09-08 18:24] ansharlubis commented on #942
I got all the examples rewritten into generic functions in #1102 and they can compile into ASR.

[2022-09-09 02:10] xmnlab commented on #946
thank you so much! Probably I will have questions about that :)
I started to take a look into that ... and tomorrow I have a meeting with @czgdp1807
and I will post here any question I have :)

thank you so much

[2022-09-09 13:36] czgdp1807 opened #1104 "Enable `c` test for `integration_tests/test_builtin_bool.py`"
On executing, `lpython --show-c integration_tests/test_builtin_bool.py` I get the following error,

[code]

[2022-09-09 13:42] xmnlab commented on #1104
thanks @czgdp1807 I will take a look into that now :)

[2022-09-09 17:05] certik commented on #1006
So it seems to me, we should:

* disallow all implicit casting everywhere (comparisons, assignment, function calls, etc.)
* implement `i32(x)`, `i64(x)`, `f32(x)`, `f64(x)` for casting.
* See how things goes as we implement more of the standard library etc.
* If it turns out that it is too difficult for end users, we can always relax these rules in a backwards compatible manner; we can also introd

[2022-09-09 17:11] certik opened #1106 "Unsigned integers (u32, u64, ...)"
Currently ASR only has signed integers (i8, i16, i32, i64), later one we'll also add arbitrary precision (signed) integer (`int`) and i128.

Regarding unsigned integers (u8, u16, u32, u64), ASR currently does not have them. Nor does Fortran, or CPython. The reason is that it is very easy to get into all kinds of issues with unsigned integers, once you start mixing them with signed ones. It also cr

[2022-09-09 17:30] certik opened #1107 "Allowing `int` and `float` as types"
A question came up to support `float` to mean `f64`. We can allow it, except that we support `f64[5, 6]` and `f64[:,:]` syntax for multidimensional arrays, and that does not work with the intrinsic type (`float[:,:]` or `float[5,6]` is an error in CPython).

Three approaches are available:

* Only support `float` for scalar types, not arrays (so LPython would give an error message, as would CPytho

[2022-09-11 06:07] ArpanShah2k commented on #1077
I am interested in fixing this issue . It will be a great opportunity if you allot me to solve this issue . @czgdp1807 @Smit-create @certik @rebcabin @HaoZeke

[2022-09-11 06:08] czgdp1807 commented on #1077
@ArpanShah2k I am already working on this in #1095. Thanks for your interest though. Please let us know if you are interested in any other issue.

[2022-09-11 08:17] ArpanShah2k commented on #733
I am interested in fixing this issue . It will be a great opportunity if you allot me to solve this issue .
@czgdp1807 @Madhav2310 @certik @rebcabin @HaoZeke

[2022-09-12 05:22] #1035 closed

[2022-09-12 10:13] #1074 closed

[2022-09-12 10:45] #1092 closed

[2022-09-13 15:10] #1019 closed

[2022-09-15 03:31] #1104 closed

[2022-09-15 06:04] Thirumalai-Shaktivel commented on #772
..

[2022-09-15 13:16] czgdp1807 opened #1113 "Supporting ``Enum`` and ``Union`` in LPython"
As the title says, we need to figure out a good syntax for ``Enum`` and ``Union`` in LPython, especially in the C backend.

For syntax we can follow the same as of CPython,

- [x] ``enum`` - https://docs.python.org/3/library/enum.html - https://github.com/lcompilers/lpython/pull/1117
- [x] ``Union`` - Import from CTypes, see https://stackoverflow.com/a/45384034 - https://github.com/lcompilers/lpyt

[2022-09-15 13:16] czgdp1807 commented on #1113
@certik @rebcabin @ronnuriel Please let me know if you agree with this syntax. Then we can start implementing things in C backend.

[2022-09-15 13:38] ronnuriel opened #1114 "Support C tests"
As the title say, tests to support:
- [x] test_builtin_pow
- [x] test_builtin_str
- [x] test_builtin_oct
- [x] test_builtin_hex
- [x] test_builtin_divmod
- [ ] test_math_02
- [x] test_cmath
- [x] test_complex
- [x] test_unary_plus

[2022-09-15 13:41] ronnuriel opened #1115 "C backend - Static Functions"
Need to add support to C backend for static functions.

[2022-09-15 13:42] rebcabin commented on #1113
Regarding `enum`, the URL points to good candidate tests for the facility. So long as the same code works identically in CPython and LPython (including the import statements), I think it's good. Will comment on Union shortly

[2022-09-15 13:45] czgdp1807 commented on #1113
Cool I will start off with `enum` implementation then. I think the same syntax as CPython is fine.

[2022-09-15 13:52] ronnuriel opened #1116 "Implement goto statement in C backend"
As the title says, we need to implement goto statement and add a support in c backend.

goto syntax - `https://github.com/snoack/python-goto`

[2022-09-15 13:53] rebcabin commented on #1113
I approve of the `Union` proposal, too.

[2022-09-15 13:54] rebcabin commented on #1113
remember the overriding tenet is 100% compatibility with ordinary CPython, a specific version x.y.z if necessary to limit it.

[2022-09-15 13:57] czgdp1807 commented on #1113
Sure. Makes sense. So I will go ahead and implement both Union and Enum in C according to our priorities discussed offline.

[2022-09-17 11:45] #1030 closed

[2022-09-17 11:59] akshanshbhatt commented on #1089
CPython only takes the first 16 digits after the decimal points, in case of a highly precise decimal value specified by the user.
[code]

Whereas in case of exponential values,

[code]

[2022-09-17 12:09] #1031 closed

[2022-09-17 12:09] #1032 closed

[2022-09-17 13:17] czgdp1807 opened #1122 "[Discussion] Runtime debugging"
AFAIK following are the ideas,

1. Use location information from ASR.
2. Store the location information in the backends. Protocol depends on us.
3. In case of runtime errors, fetch the location information from the backend by using the protocol we created and map it to the ASR location information and then we can back to the actual line in source code which caused the runtime error.

For example f

[2022-09-19 13:40] ronnuriel opened #1124 "visit_StringItem bug -C backend"
C backend bug when trying to access to a negative position in string
can be fund in file test: integration_tests/test_str_01.py in function: test_str_index

Example :
[code]
Quick fix offer will be :
[code]
But please check ASR

[2022-09-19 13:49] certik commented on #1124
This is related to https://github.com/lcompilers/lpython/pull/1099. I think we should not handle negative indices in the backend for performance reasons, but rather in the frontend. See my comment here: https://github.com/lcompilers/lpython/pull/1099#discussion_r969782446 for more details.

[2022-09-19 14:52] ronnuriel commented on #1116
@certik Will you be taking care the ASR side?

[2022-09-20 01:36] certik commented on #1116
The ASR side is already implemented, see the `GoTo` and `GoToTarget` nodes and the associated documentation.

[2022-09-20 01:37] certik commented on #1116
So we just need to implement the visitors in the C backends for these two nodes and it will work.

Then we need to settle on some syntax in Python that hopefully works with standard Python (CPython) also, and produce the `GoTo` and `GoToTarget` ASR nodes.

[2022-09-20 16:17] certik opened #1128 "Test runtime errors"
The way to test the runtime errors might be to just expand our `run_tests.py`, we would put the code that should fail into `tests/errors/` and then register it in `tests.toml`, and it would compile and run the code, it would capture stderr and stdout, compare/update the reference results, and also it would test the exit code.

[2022-09-20 16:57] Smit-create commented on #1128
Then we should also modify `run_tests.py` to capture some flag like `run_llvm` or `run_cpp` so that it compiles and runs the file and capture the stderr?

[2022-09-20 17:03] certik opened #1129 "ASR: add string formatting nodes"
One way to handle string formatting and printing in a language independent approach is to decouple string formatting form printing. The `Print` ASR node would just do printing and printing related flags. I think it's pretty much there.

Then we need an expr node like `StringFormat`, which will handle all string formatting. The string formatting is inherently runtime operation, so the `StringFormat

[2022-09-20 17:07] certik commented on #1129
There is also Python's `"%r" % some_object`, it seems it should be part of `StringFormatPython1`, to handle the `%r` correctly. Then `print(l)` becomes `Print(StringFormatPython1("%r", l))`.

[2022-09-21 00:45] certik commented on #1128
We probably should, since we want to check the runtime error messages in different backends.

[2022-09-21 04:49] #1026 closed

[2022-09-21 08:53] #938 closed

[2022-09-21 13:29] certik opened #1130 "Change "lpython examples/expr2.py" to run the script, after compiling"
Currently `lpython examples/expr2.py` just creates an executable `a.out`. However, coming from Python people would rather expect LPython to run the script after compiling. So we should change the behavior of the driver to do this. When `-c` or `-o` options are passed, then it would compile to a binary and not run it.

[2022-09-21 15:52] certik opened #1131 "Make variable capture explicit"
Both in Fortran and in Python as a user I would like all variable capture to be explicit. See here for some of the pitfalls:

https://python.plainenglish.io/python-pitfalls-with-variable-capture-dcfc113f39b7

The way I want this to work is to specify using some syntax construct all variables that I am "importing" from the parent scope(s). For example, I would like this to give a useful error messa

[2022-09-21 16:16] certik opened #1132 "`--new-parser` fails"
Here is an example where `--new-parser` fails:
[code]
in the PR #1098. It fails with:
[code]
It is trying to compile the builtin module using the old parser, but it should not.

Once we switch to the new parser, then this should go away.

[2022-09-22 08:14] Thirumalai-Shaktivel commented on #1132
So, this is caused when we are not in the `lp` environment, right?

[2022-09-23 00:28] certik commented on #1132
Yes.

[2022-09-23 00:32] certik commented on #1128
Related issue: https://github.com/lcompilers/lpython/issues/772

[2022-09-23 06:25] #1077 closed

[2022-09-23 11:45] certik commented on #1077
@ArpanShah2k you don't need to ask for permissions, simply pick an issue and implement it, open a PR and go from there. It's very unlikely that somebody works on exactly the same thing at the same time (hour or minute), and in the very unlikely even that somebody does, it's easy to simply join forces and merge the PRs.

[2022-09-23 12:10] certik opened #1139 "Clarify the "LPython contract" in the docs"
The contract is that if LPython compiles your code and there are no runtime errors (in Debug mode), then it will behave exactly as in Python (and you can also use Release mode and it will be very fast and still give exactly the same answer on the same input). You have to use bounds checking in Debug mode.

The same issue is with any runtime indexing, especially arrays. It can be out of bounds and

[2022-09-23 12:11] certik commented on #1139
This needs to be explained and documented very early in our documentation.

[2022-09-23 12:51] czgdp1807 opened #1140 "Add ReleaseSafe, Debug, ReleaseFast options"
We should provide the following command line options so that testing by hand with `lpython` is easier,

1. `--safe` - Basically debug mode by hand. Will automatically enable options like, `--enable_bounds_checking`, `--check_integer_overflow` (not sure if it is already there), `--raise_key_errors` (isn't there but to be added), `--memory_safety` (isn't there but I mean ensures memory safety in the

[2022-09-23 14:12] certik opened #1142 "LPython should give an error message instead of a cast"
This example
[code]
Should give a compile time error message in LPython, because in CPython it prints 0.5, which is incompatible with the declaration `x: i32`. Currently LPython casts it to an integer, which is wrong:
[code]
This is related to https://github.com/lcompilers/lpython/issues/1006, we should just disable all such castings.

[2022-09-23 14:22] certik opened #1143 "ASR: GoToTarget should also store a label"
Like this:
[code]
The label is not needed for lowering backends like LLVM, and it is also not needed for C backend if it is treated as a lowering backend (just a stage in a compilation). But it is needed for C and Python backends if they are treated as transpiling backends, to present the code as close to the original as possible.

[2022-09-23 14:28] certik opened #1144 "How to implement GoTo"
The AST to ASR has to do something like the following.

* Maintain a hashtable/mapping of labels (strings) -> (unique IDs, bool declared); initialize it as empty when entering a new function
* Every time you encounger a "goto label", lookup the label in the mapping, two cases can happen:
   * if it is already there, use the ID from the mapping and create GoTo(ID)
   * if it is not there, add it to

[2022-09-23 14:54] certik commented on #1022
So `match` is a keyword that is not reserved. See https://docs.python.org/3/reference/lexical_analysis.html#soft-keywords, they call it a *soft keyword*. In our tokenizer.re, we have the following sets of *reserved keywords*:
[code]
These cannot be used as variable names such as in `with = 5`.

`match`, `case` are different (perhaps also `_` as the docs say, not sure about how we handle that). We

[2022-09-23 15:00] certik commented on #1022
We have several options how to tackle the `match` and `case` non-reserved keywords (each has pros/cons):

* we can write a "strong tokenizer" like the fixed-form LFortran tokenizer, which is a recursive descent parser that recognizes the context that we are in, and based on the context it will know if `match` and `case` are keywords, or just a name (such as a variable).
* we can enable Bison GLR,

[2022-09-23 16:20] czgdp1807 commented on #1144
Will we allow something like,

[code]

If we are going to allow the above case, then will we generate hash maps for `f` and `g` separately? Will `goto` in `f` be allowed to jump to label defined inside in `g`?

[2022-09-23 16:44] certik commented on #1088
I would just use `std::strtod`, there is an example here how to check for errors: https://en.cppreference.com/w/cpp/string/byte/strtof

[2022-09-23 17:17] certik commented on #1017
One way to fix this is to apply the following patch:
[code]
and then you generate the Bison output files and then you must apply the following patch on top:
[code]
Then it will work.

The second patch should not be needed, but that seems to be like a bug in Bison.

[2022-09-23 17:25] certik commented on #1017
The other way to fix it is:
[code]

[2022-09-23 17:34] certik commented on #917
I think this we can work on after we switch to the new parser.

[2022-09-23 17:37] certik opened #1146 "Switching to the new parser"
TODO:
* do the switch
* remove `--new-parser`
* keep `src/runtime/lpython_parser.py`, we hook it up at a CI and execute manually at a few files to ensure it works, but I would not bother hooking it up with LPython directly anymore, I don't think it's worth the effort

[2022-09-23 19:19] certik commented on #1022
We should probably fix this one first, now when the new parser is merged.

[2022-09-23 19:30] #1017 closed

[2022-09-23 19:36] certik opened #1149 "LPython parses but CPython does not"
These are curious cases that LPython parses but CPython does not. These are artificial cases, but if we want to be 100% strict with regards to #1139, we should not allow it either, so that if things compile with LPython, they also work with CPython.
[code]
Which gives:
[code]

[2022-09-23 20:57] certik commented on #1140
Yes, we need that. The `--safe` option will enable all checks needed to ensure the code can never segfault or have undefined behavior:

* bounds checking (`--enable_bounds_checking`)
* integer overflow
* dict key errors
* dangling and null pointer dereference
* stack overflow (too large stack arrays, too deep function nesting, infinite recursion)
* ...

There are probably other checks needed for t

[2022-09-23 20:59] certik commented on #1140
The `--fast --safe` option (ReleaseFast) is interesting, as one could imagine doing all kinds of approaches like eliminating bounds checks if they are not needed, such as in:
[code]
Which can't be out of bounds by definition. And other similar ideas, like checking before the loop, and not checking inside the loop, etc.

[2022-09-23 21:18] certik opened #1150 "How to write and maintain runtime library code callable from ASR passes in libASR"
The easiest is to write the runtime library in the frontend language, compile to ASR and insert by the frontend. This does not work for ASR passes, that have to be part of libasr and usable across all LCompilers.

There are multiple approaches possible. See:

* https://github.com/lcompilers/lpython/issues/723#issuecomment-1172909436
* https://github.com/lcompilers/lpython/issues/723#issuecomment-1

[2022-09-23 21:28] certik commented on #1144
I think so. We can handle this case later.

I don't think so.

[2022-09-23 21:30] #1124 closed

[2022-09-24 00:29] czgdp1807 commented on #1150
Makes sense. We can start doing this for optimisation, gain more experience and add all kinds of utility functions to generate the ASR.

[2022-09-24 04:22] czgdp1807 opened #1151 "Guidelines on implementing classes for multi-threading based parallel compilation"
If we want to follow multithreading based parallel compilation then we should follow some simple guidelines,

1. **Keep everything (command line options, list API objects, dict API objects, passes) local to a visitor and launch separate visitor instances in separate threads.** This way we avoid locking overall. Since we create the visitor instance inside a function call so each thread will call th

[2022-09-24 06:41] Smit-create opened #1152 "Bug in C codegen"
I was trying to compile and run the C code generated from `integration_tests/test_builtin_str.py` (#1109 ). I found the following issue with the C codegen:
Python:
[code]

The generated C code on the main branch is:
[code]

The above code is incorrect because we expect `__tmp_assign_for_loop` to contain the value of `s[::-1]`. This is because of this line in the ASR frontend:
https://github.com/lc

[2022-09-24 11:45] certik commented on #1151
I think so. There might be more things. In general, we need to keep the code as "state free" as possible. If we have to maintain state, let's do it inside a class. Make sure two visitors can run at the same time, and instantiated at the same time. Etc.

[2022-09-24 12:14] czgdp1807 commented on #1152
We convert initialisation at declaration to assignment statement in the body for user defined variables (see https://github.com/lcompilers/lpython/pull/662 for background, related issue https://github.com/lcompilers/lpython/issues/651). We should do this for temporary variables as well.

In addition `self().visit_expr(*v->m_value);` should be `self().visit_expr(*v->m_symbolic_value);`. `Variable::

[2022-09-24 12:16] czgdp1807 commented on #1151
Makes sense. We call functions in parallel threads so all objects should be created inside function scopes. That will solve the problem.

Exactly. Do we plan to test this? Not a high priority though I think.

[2022-09-24 12:17] czgdp1807 commented on #1113
Can we close this? As the initial versions are already in. Please let me know. I am attaching `could close` label for now.

[2022-09-24 12:23] czgdp1807 commented on #1129
We should test this approach with the following types (mixed types of container data structures).

1. `list[dict[i32, tuple[i32, f64]]]`
2. `tuple[list[i32], dict[i32, f64]]`
3. `dict[tuple[i32, str], list[dict[i32, i64]]]`
4. .
5. .
6. .
7. Any combination of aggregate data types like `list`, `tuple`, `dict` and so on.

[2022-09-24 19:52] certik commented on #1151
I don't know how to test this in C++. We could test it once we have a C++ frontend, but that is much later.

[2022-09-24 21:04] navneet1v commented on #281
Do we still have any methods left to implement? I would like to implement.

[2022-09-25 12:53] Smit-create opened #1153 "Bug in `for` with negative step"
Python code:
[code]

LPython Output:
[code]

CPython:
[code]

[2022-09-25 13:12] Smit-create commented on #1153
I think the best way to fix this might be to just change this line:
https://github.com/lcompilers/lpython/blob/91cb772ef86a58d8b5020a8dde864754bc06d06a/src/lpython/semantics/python_ast_to_asr.cpp#L3680

To do addition instead of subtraction when we have a negative compile time value in `increment`?

[2022-09-25 18:04] Thirumalai-Shaktivel commented on #1022
Remaining issues:
[code]

[2022-09-25 18:07] Thirumalai-Shaktivel commented on #916
This issue is related to the CPython parser (old parser), which we completely removed from LPython.
So, I think this can be closed

[2022-09-26 02:44] #1022 closed

[2022-09-26 02:50] certik commented on #916
Just close issues that no longer apply.

Yes, now is a good time to go over all parser issues and figure out what the remaining issues are.

[2022-09-26 02:50] #916 closed

[2022-09-26 02:54] certik commented on #1153
Try it. We can then polish the fix if it is not the right one.

[2022-09-26 02:54] Thirumalai-Shaktivel opened #1154 "Remaining issues to be fixed in the match statement"
[code]

_Originally posted by @Thirumalai-Shaktivel in https://github.com/lcompilers/lpython/issues/1022#issuecomment-1257246587_

[2022-09-26 03:06] certik commented on #281
@navneet1v thanks for your interest!

If I am not mistaken, all the methods on integer that we implemented are here: https://github.com/lcompilers/lpython/blob/b3534ff898aa3e948f10189633d83138815b48a8/src/lpython/semantics/python_ast_to_asr.cpp#L4728, and it seems only `bit_length` is currently implemented.

So if you are interested in implementing any of the other ones, that would be awesome. Let

[2022-09-26 03:09] certik commented on #1113
I think so. I am sure there will be tons of things to improve, but let's simply open up issues as we discover them. The initial implementation is done. Thanks @czgdp1807 !

[2022-09-26 03:09] #1113 closed

[2022-09-26 03:12] certik commented on #1115
@czgdp1807  Here is a good issue for you. We should probably do it with a `@static` decorator.

[2022-09-26 03:12] czgdp1807 commented on #1115
On it. Will work on array programming and this concurrently.

[2022-09-26 03:13] czgdp1807 commented on #1115
I think this would only matter in C backend. LLVM doesn't have any notion of static functions as far as I know.

[2022-09-26 03:16] certik commented on #1115
What exactly is a static function?

[2022-09-26 03:17] czgdp1807 commented on #1115
https://stackoverflow.com/a/558132 - A function visible only in the translation unit where it is defined.

[2022-09-26 03:40] czgdp1807 commented on #1153
I think compile time value is not the only concern. What if three of start, step and end all are runtime variables. Seems like are always adding `-1` to the end. I think a proper way would be to add the sign of end to stop. That should do the job. If its available at compile time then we already know that its either `+1` or `-1`. Basically its simply, `offset = (step >= 0) * 1 + (step < 0) * (-1)`

[2022-09-26 03:47] certik commented on #1115
So we need to implement this in LLVM too, currently all global functions are visible outside. Static functions would somehow not be possible to call from other units. Is this achieved with name mangling, or how is that achieved?

[2022-09-26 03:49] certik commented on #1153
ASR loop correctly supports increasing or decreasing iterations. All we need is to just generate correct ASR for the code above.

[2022-09-26 03:49] czgdp1807 commented on #1115
I think it can be handled at ASR level. If a function is static and is defined in a different translation unit but called in a another translation unit then raise semantic error. AFAIK, C compiler also handles them in the frontend level.

[2022-09-26 03:51] certik commented on #1115
I see. So we add some "static" flag to ASR functions, then add some semantic checks (possibly later) and in the C backend we honor this flag.

[2022-09-26 03:53] czgdp1807 commented on #1153
By ASR loop you mean `do_loop` pass, right? Probably for loops as well we need to test 216 cases, each of the start, end and step can be,

1. Compile time positive.
2. Runtime positive.
3. Compile time negative.
4. Runtime negative.
5. Compile time 0.
6. Runtime 0.

So, 6 x 6 x 6 = 216 cases. We need to make sure each of these cases work as desired. Loops are important so proper testing of these i

[2022-09-26 03:55] czgdp1807 commented on #1115
Yes I think. LLVM should never be concerned. It should just generate correct LLVM code for the translation unit it receives. Note that static functions can be imported and then they are visible to the file where they are imported to. Similar is the case with C static functions like if it is defined in a header and that header is included in some other file then it is visible in that file as well.

[2022-09-26 04:07] Thirumalai-Shaktivel commented on #1021
The new parser doesn't store the location(line number) information in the AST.
[code]
CPython
[code]

[2022-09-26 04:37] Thirumalai-Shaktivel opened #1157 "String handling issue in the tokenizer"
[code]

[2022-09-26 05:06] certik commented on #1153
I mean the `DoLoop` node.

[2022-09-26 06:00] #1115 closed

[2022-09-26 06:01] czgdp1807 opened #1158 "Handle static functions at ASR level"
Whenever a function decorated with `@static` is defined in one translation unit and called from another translation unit in the same ASR, we should raise a `SemanticError`.

See https://github.com/lcompilers/lpython/issues/1115#issuecomment-1257438642

[2022-09-26 12:45] Smit-create commented on #1153
Python doesn't allow step to be 0:
Traceback (most recent call last):
[code]

Moreover, in the LLVM backend, we only support Integer Constants.

[2022-09-26 12:53] czgdp1807 commented on #1153
Great. That reduces the number of cases to 64 + 1 (error for 0) which is cool.

Please open an issue for it. We should support variable arguments as well for each of start, step and stop. Not necessarily to be done in this PR

[2022-09-26 15:36] #1152 closed

[2022-09-27 05:23] #1088 closed

[2022-09-27 07:40] #1153 closed

[2022-09-30 09:57] Thirumalai-Shaktivel commented on #1149
The problem is: we should not allow single-line multi statements to follow the single-line statements

[2022-09-30 21:07] certik opened #1167 "Pointers / links in ASDL"
@czgdp1807 had a great idea here how to improve GoTo / GoToTarget: https://github.com/lcompilers/lpython/pull/1163#issuecomment-1263052400

Change `GoTo(int target_id, identifier name)` to `GoTo(stmt_t goto_target)`. Then one can do `ASR::down_cast<ASR::GoToTarget>(goto_object->goto_target)->m_name`. So it would look like this:
[code]
Except that this would not work, as `GoTo` would contain a new

[2022-09-30 21:35] certik commented on #1167
There is one issue with pointers: they require special handling in serialization and in printing. Currently every `symbol` is actually a pointer, and it is printed with the symbol table ID and a name; and serialized with the same approach. Deserialization requires special handling of this too.

So the `stmt_ptr` would require special handling as well and does not seem worth it.

There are two ways

[2022-09-30 22:12] certik commented on #1167
Here is how Wolfram does it: https://reference.wolfram.com/language/ref/Goto.html

[2022-09-30 22:31] certik commented on #1167
It seems that all things considered, the simplest way seems to be this diff, applied to the current main:
[code]
And just use the string `id`. Fortran would just convert the integer to a string. Python would use the string directly.

[2022-10-01 00:02] rebcabin commented on #1167
I'm rereading this old classic for ideas.

https://dspace.mit.edu/bitstream/handle/1721.1/5753/AIM-443.pdf?sequence=2&isAllowed=y

[2022-10-01 03:17] Thirumalai-Shaktivel commented on #1128
This diff wouldn't be right fix, but:
[code]
Here the `stderr` is not created, but instead `stdout` is created.

[2022-10-01 03:23] Thirumalai-Shaktivel commented on #1128
If above approach was not correct.
Can anyone share how to start working on this issue?

[2022-10-01 06:58] czgdp1807 commented on #1167
https://github.com/lcompilers/lpython/issues/1167#issuecomment-1264090265 makes sense to me and should be simple enough. Does LLVM allow using string IDs for labels? If so then using string IDs makes more sense.

[2022-10-02 10:10] czgdp1807 commented on #869
I am self assigning this and will fix on Monday.

[2022-10-03 23:50] certik opened #1171 "ASR: Multiple dispatch in generics"
Right now we have the basics of generics implemented. We also need "template specialization" (C++) / "multiple dispatch" (Julia): you implement a function for different types and the compiler will select it based on the types at call site. Example:
[code]
Without the last generics version this is already implemented as `@overload`. We need to hook it with the templated version that would be used a

[2022-10-04 06:46] #1130 closed

[2022-10-04 10:13] czgdp1807 opened #1174 "Supporting packed structures in LPython"
We need to support packed structures in LPython. The syntax can look like this,

[code]

should result in,

[code]

Reference - https://stackoverflow.com/a/11772340

[2022-10-04 10:17] czgdp1807 opened #1175 "Supporting `Const[...]` annotated variables"
As the title says some syntax examples,

1. `x: Const[i32]` is a constant 32 bit integer variable.
2. `x: Const[CPtr]` is constant C pointer (`void*`) variable.

Any such variable declared in global scope should become macros in C backend. For example, `x: Const[i32] = 0` should become `#define x 0` in C backend.

Posting the link to Zulip chat discussion on the same topic - https://lfortran.zulip

[2022-10-04 10:21] czgdp1807 opened #1176 "Provide a function analogous to ``sizeof`` in C language"
Sometimes we need to pass the output of `sizeof` to C interoperable functions and hence we need to provide an intrinsic `sizeof` function. Consider the following example,

[code]

[2022-10-04 10:22] Thirumalai-Shaktivel opened #1177 "ListSection is not implemented in the LLVM"
[code]
cc @czgdp1807

[2022-10-04 10:23] Thirumalai-Shaktivel commented on #1177
How do I implement this?
- Implement the visit function in LLVM: Create a new list and copy the section and return?
- Implement ASR Pass as we did for List concat?

[2022-10-04 10:26] czgdp1807 commented on #1177
This is good enough for me.

P.S. There must be a way to implement all such high level list features in the same ASR pass so that we reduce the constant overhead and code size of passes. Can you try to figure it out and let us know here?

[2022-10-04 13:08] rebcabin commented on #1176
This might be a good feature, but surely SWIG and other Python-C FFIs do something similar. Do we really need to innovate a design, or can we copy the predecessors? I'm ok with new designs if the old ones stink, but, in general, I want to avoid piling on innovations. This is a judgment call.

[2022-10-04 13:09] czgdp1807 commented on #1175
I posted the link to Zulip chat discussion on this topic in the issue description. See, https://lfortran.zulipchat.com/#narrow/stream/311866-LPython/topic/Constant.20Variables.

Coming on to the idea of scanning and producing `foo_h.py`, I think that's fine. Though one concern is `FOO` is still a variable which can be overwritten by the user. Quoting from Zulip chat,

As @certik said, `Final[i32]`

[2022-10-04 13:13] rebcabin commented on #1175
The case for pseudofunctions is more complex. They need to handle closed-over (e.g., global) variables and variables that are modified by side-effect. For example,

[code]

might become

[code]

For cases where hard-coded targets of side-effects are not acceptable, we can generate some Python code that hacks the Python AST. This is straightforward but involved. We can special-case it for the labs

[2022-10-04 15:44] certik opened #1179 "Make "time lpython a.py" faster than "time python a.py""
On my macOS M1 max I get this:
[code]

This is with LPython compiled in Debug mode. All the passes are fast enough (less than 5ms total), but somehow it takes 80ms overall. CPython takes 17ms. So we need to get faster (we can use Release build of LPython), that is, LPython must compile and run under 17ms. The binary itself runs in 4ms:
[code]
So I would say a reasonable goal on my machine is to co

[2022-10-04 15:49] certik commented on #1128
I would do `+        run_test(filename, "runtime_error", "lpython {infile}",`

[2022-10-04 15:50] certik commented on #1128
I would just call it `run`:
[code]
And we can use it both for runtime errors as well as successful runs.

[2022-10-04 15:51] certik commented on #1128
Let's create a new directory "runtime_errors", to distinguish those tests from compile time errors.

[2022-10-04 16:15] certik commented on #992
Here is our goal:

* Imagine a project with 10 dependencies, each of which has 10 dependencies, so total of 200 packages have to be build
* The first time we build everything (say it takes 20s)
* Then when we modify one file in our project, the dependencies are not built again, only the file that changed is built and our project is rebuilt/linked (ideally this be immediate -- couple milliseconds;

[2022-10-04 16:18] certik commented on #992
So what pieces do we need to get to the goal?

* We must be able to build 200 dependencies, and then reuse the build.

What does that mean?

* We need to reuse as much as possible.
* Consequently, we have several options:
  * compile each file to .pyc (ASR serialization) or (even better): compile each package to one file that contains serialized ASR for the whole package
  * compile each file or (

[2022-10-04 16:22] certik commented on #992
Also what we need are nested modules. Say:
[code]
And we need to get the following working:
[code]
plus the relative import syntax in Python.

[2022-10-04 16:31] certik commented on #992
Once the above works, we can think about how to build dependencies. I suggest we use `pyproject.toml` to specify the dependencies (Cargo style), see here for more background and links to other resources: https://stackoverflow.com/questions/62983756/what-is-pyproject-toml-file-for

[2022-10-04 17:42] certik commented on #1175
Regarding constants, the Final in Python means more than just constant:

However, the feature that we need is just `Const`: the variable is constant, so you can access it in read-only mode, but you cannot write to it (or if it is an instance of a class, you cannot modify the instance). So `Const` is a subset of `Final`. For this reason I would use `Const` and implement strictly just read-only beha

[2022-10-04 17:57] certik commented on #1176
In terms of new features here, the only new feature is the `SizeOfType(ttype type)` ASR node, which returns the size in bytes of the given type (such as a struct).

It is a compile time feature, but is backend specific (like the implementation of all other ASR nodes), so the backend will choose some memory representation of the given type, and then `SizeOfType` will return the actual size of this,

[2022-10-04 18:23] rebcabin commented on #1175
Isn't `Const` an extension of Python? Will CPython be able to interpret `Const`? Are we falling down the slippery slope of extending Python?

[2022-10-04 20:20] certik commented on #1175
Not any more than `i32` is an extension of Python, since Python only has `int` (arbitrary precision).

Yes. Just like it is able to interpret `i32`. It will not check for you that you are not assigning a string to `i32` (you have to use LPython for that), and in the same way it will not check that you are not modifying a `Const` variable (but LPython will).

The contract is that if the code compil

[2022-10-05 04:35] Thirumalai-Shaktivel commented on #1177
I will rename `pass_list_concat` -> `list_asr_pass`, and add the list related ASR passes there.
That might work.
I will create a PR and ping you there.

[2022-10-05 10:59] Shaikh-Ubaid commented on #1129
One of the concerns that I have with this approach is that
- As per the `ASR` Specification [here](https://github.com/lcompilers/lpython/wiki/Intrinsic-Functions-Design), it seems `ASR` is **self-contained** and **complete**
- If we have nodes like `StringFormatC` or `StringFormatPython3` in the `ASR`, it seems that the `ASR` in a way might not look complete, since there could always be a language

[2022-10-05 11:00] Shaikh-Ubaid commented on #1129
Would it be possible/feasible to define a `StringFormatC` or `StringFormatPython3` function in every front-ends `builtin` runtime library?

[2022-10-05 12:57] #1101 closed

[2022-10-05 14:04] zeproffesor opened #1182 "Integration test test_complex is failing out of the box for Ubuntu arm architecture."
I get the following error message when running the integration tests for the first time on an Ubuntu virtual machine running on an M1 Macbook.

[code]

As suggested by Ondřej Čertík it's probably due to the way complex numbers are returned and passed to functions which is platform specific, i.e. Linux/arm has a different ABI than say macOS/arm or Linux/x86

[2022-10-05 18:51] certik opened #1183 "Rename EnumMember -> EnumClassMember"
I would still do `EnumClassMember`. I think the class and instance relationship is well established and people understand it. I had to lookup our discussion to figure out what `EnumMember` means.

Essentially, `Struct`, `Enum`, `Union`, etc. they all have a "class" and "instance" and one can access both (with different semantics and consequences). If we don't like the term "class" then let's figur

[2022-10-05 18:54] certik commented on #1183
I would probably use the terms `Class` and `Instance`: https://en.wikipedia.org/wiki/Class-based_programming, it seems that is what we are currently doing in ASR. It doesn't mean these are the only paradigms we support, but right now that is what maps into Python and Fortran usage.

[2022-10-06 17:13] Thirumalai-Shaktivel commented on #992
@Shaikh-Ubaid are you working on this issue?

[2022-10-06 17:37] certik commented on #992
Yes, @Shaikh-Ubaid is working on this issue, but if you are interested @Thirumalai-Shaktivel you can go ahead and also work on it, there is plenty of tasks to do.

[2022-10-08 16:10] zeproffesor commented on #281
Hello, I am trying to implement the to_bytes method for integers. As mentioned here [https://docs.python.org/3/library/stdtypes.html](url) the method returns an array of bytes, which is a type, i.e. `print((5).to_bytes(1,'big'))` --> `<class 'bytes'>`

My question is that do we want to implement:
1. A new type, i.e. implement the class 'bytes'
2. Just print the string corresponding to the byte arr

[2022-10-09 08:57] czgdp1807 commented on #1183
My only concern is with `StructClassMember`. `Struct` and `Class` are two different concepts in C/C++ and hence might confuse developers. `EnumClassMember`, `UnionClassMember` is fine by me. `Static` might also become an alternative such as `StaticStructMember`, `StaticEnumMember`, etc.

[2022-10-09 15:03] certik opened #1187 "How to handle Python bytes type"
We have to decide how to handle or emulate the `bytes` type in Python.

It comes up for example in the `to_bytes()` integer method (https://github.com/lcompilers/lpython/issues/281#issuecomment-1272350152).

[2022-10-09 15:04] certik commented on #281
Thanks @zeproffesor, great question. I opened up a dedicated issue (https://github.com/lcompilers/lpython/issues/1187) to discuss the bytes type.

Until then just return a string. Once we decided how to handle the bytes type, we can upgrade it.

[2022-10-09 15:07] zeproffesor commented on #281
Okay! Thanks for the clarification, I'll begin working on the string implementation then.

[2022-10-10 01:38] certik commented on #1183
I think `Static` is fine. I think it should start with `Struct` and `Enum`, to have all the relevant nodes next to each other. So `StructStaticMember` and `EnumStaticMember`.

[2022-10-10 01:39] certik commented on #281
Thanks! Feel free to open a Draft PR and post what you have and we can help if you get stuck.

[2022-10-11 04:24] #1177 closed

[2022-10-11 08:55] rebcabin commented on #413
What about the following, with both compilers?

x: 132
x = 10

def main0():
  global x  # <~~~ only difference
  x += 10
  print(x)

On Fri, Apr 22, 2022 at 3:19 PM Naman Gera ***@***.***> wrote:

[2022-10-12 17:24] certik opened #1195 "The exit() function in LLVM doesn't seem to work on Linux"
Here is a simple example, this should be the correct behavior (for example it works on macOS):
[code]

But on Linux it seems to generate a zero exit code, which is a bug that we need to fix.

[2022-10-12 17:24] certik commented on #1195
Here is the LLVM code:
[code]
So the exit is done by:
[code]

[2022-10-12 17:30] certik commented on #1195
I think we should implement our own `_lcompilers_exit` function that we call from LLVM. That way we know exactly what is being called.

Then we implement `_lcompilers_exit` in C using the exit() function imported from `<stdlib.h>` and that should always work.

[2022-10-12 17:36] #1154 closed

[2022-10-12 17:56] zeproffesor commented on #281
@certik Created a draft pull request. Please review! Thanks!

[2022-10-12 18:15] Thirumalai-Shaktivel commented on #1195
Sorry, its my bad (This issue was not a bug). This works on Linux. I executed the wrong command.
I used `lpython examples/expr2.py` instead of `lpython examples/expr2.py -o x && ./x`. That was the reason for generating `0` in `echo $?`
[code]

[2022-10-12 18:15] Thirumalai-Shaktivel commented on #1195
Do you still want me to implement `_lcompilers_exit`? @certik

[2022-10-13 02:52] certik commented on #1195
No, you don't need to do `_lcompilers_exit` now, we can do it later if needed.

But `lpython examples/expr2.py` needs to return a non-zero exit code when the program fails to run. If it is not the case, we need to do it.

[2022-10-13 05:26] czgdp1807 commented on #1179
Seems like LLVM to binary is the slowest of all. Rest of the stages take, 1.167 ms and LLVM to binary takes ~2.7x of this. Is this due to slow LLVM API access?

[2022-10-13 13:23] czgdp1807 opened #1199 "Support type aliasing"
See the example below,

[code]

[2022-10-13 17:44] certik commented on #344
Deeply nested expressions if/then/else in functions. 27 levels of indenting.

[2022-10-13 18:26] certik commented on #344
Benchmark other codes that can be adjusted based on a parameter N, like longer lists, dictionaries. A file with many functions.

Also add a test for full compiling and running.

[2022-10-14 04:29] #1174 closed

[2022-10-14 13:58] czgdp1807 opened #1201 "Structures which are not packed but have an alignment expression"
Let's enumerate the options here:

* is_packed=true, alignment=nullptr
* is_packed=true, alignment=expr
* is_packed=false, alignment=nullptr
* is_packed=false, alignment=expr

I can see the following test kinds, which I annotated with the ASR case above:
[code]

So we are missing a test for `is_packed=false, alignment=expr`, or this case must be excluded in verify().

What does alignment mean ---

[2022-10-17 04:18] #1176 closed

[2022-10-18 07:36] Thirumalai-Shaktivel opened #1208 "KeyError prints `(null)` in the dictionary"
This is a bug in LPython. This file:
[code]
gives for me:
[code]
So the runtime bounds check does not work in this case. So we have to debug this and fix it.

_Originally posted by @certik in https://github.com/lcompilers/lpython/issues/1180#issuecomment-1276494243_

[2022-10-19 05:21] #1175 closed

[2022-10-19 05:26] czgdp1807 opened #1209 "Verify() that only single level of nesting is allowed for Const and Pointer"
For now, let's add (in subsequent PRs) tests to verify() that only single level of nesting is allowed for Const and Pointer.

_Originally posted by @certik in https://github.com/lcompilers/lpython/pull/1203#discussion_r998819805_

[2022-10-19 05:40] Smit-create opened #1210 "semantic error: type mismatch ('list[i32]' and 'tuple[i32, i32]')"
[code]

Python Output:
[code]

LPython Output:
[code]

[2022-10-19 13:54] czgdp1807 opened #1212 "Support imports in C backend"
So if I write `module.py` and my `user.py` file and import some symbols from `module.py` in my `user.py` file then C backend should respect those imports. Right now they are being ignored. There are a bunch of tests which should work with C backend, like the following,

[code]

[2022-10-20 16:31] certik opened #1217 "Feature request: Unions in Structs"
We need to allow nested structs and unions in structs.

[2022-10-20 17:25] certik opened #1218 "Extend LocationManager to handle multiple files"
Currently we can convert the linear location information (start/end) to a file + line + column number, but it only works for one file. We need to extend this mechanism to multiple files (since a Python program typically imports multiple files).

To do that, the LocationManager simply "concatenates" all the files, and then the linear index is pointing into this concatenated stream. So we store a li

[2022-10-20 17:26] certik commented on #772
One (orthogonal) issue to fix is:

* [ ] https://github.com/lcompilers/lpython/issues/1218

[2022-10-20 17:41] certik commented on #772
To create runtime stacktraces, I would do the following to get started:

* [ ] On all platforms we would follow the macOS convention that creates a `.dSYM` with `lines.txt` and `lines.dat`.
* [ ] We port the relevant parts from src/libasr/stacktrace.cpp into the runtime library (we have to port from C++ to C)
* [ ] We have to figure out how to create `lines.txt` and `lines.dat` in LPython/LFortran

[2022-10-20 18:06] certik commented on #772
One can test this by:
[code]
Compile using:
[code]
and LLVM then stores debugging information for each instruction (and function), such as:
[code]

[2022-10-20 23:05] certik opened #1219 "Fix initializers of structs in structs"
Here is a minimal example:
[code]
LPython generates a binary which segfaults:
[code]
CPython works:
[code]

[2022-10-20 23:07] certik commented on #1217
First we need to fix #1217, then we can tackle this one.

[2022-10-20 23:13] certik commented on #1219
This was already requested in #700 and fixed. The above example does not work (and so I will keep this issue open), but the following modified example works:
[code]
Essentially it's the initialization `A(3.25, 3, B(71))` that does not work, but the workaround works: `A(3.25, 3, b1)`.

[2022-10-21 16:55] Thirumalai-Shaktivel commented on #301
This issue is fixed:
[code]

[2022-10-21 16:56] #301 closed

[2022-10-22 10:54] #1219 closed

[2022-10-22 19:35] Shaikh-Ubaid opened #1222 "WASM to X86 Backend"
There is an idea to implement a `wasm` to `x86` backend. We have to benchmark `ASR->x86` and `ASR->WASM->x86`. If the performance difference is not much, then the big advantage of `WASM->x86` would (hopefully) be that it would be a easier and quicker for us to deliver a working backend.

- We can start with 32bit, since it is already figured out, unless it is more complicated,then we can just do 6

[2022-10-22 19:42] Shaikh-Ubaid commented on #1222
For `x86` do we need the binary format or text based format or both?

[2022-10-22 23:01] rebcabin opened #1224 "Type symbol_table in ASR sometimes means integer id"
Consider [this example, expr_01-211000e](https://github.com/lcompilers/lpython/blob/main/tests/reference/asr-expr_01-211000e.stdout), which we see the following fragment

[code]

Looking at [the ASR grammar](https://github.com/lcompilers/lpython/blob/main/src/libasr/ASR.asdl), we find the production `Variable`:

[code]

That production leads us to expect that element 1 in the fragment, right after

[2022-10-23 05:24] certik commented on #1222
I think you can use the X86 assembler, which just generates a binary, but in Debug mode it can also do a text format.

Alternatively, we just do a binary, and then do x86 -> text assembly.

[2022-10-23 12:06] rebcabin commented on #1224
Recommended solution: create a new type, `symbol_table_id`, which is an alias for positive integer (excluding zero).

Alternative (not recommended), reform `symbol_table` as a union type with two members, positive integer id and fully spelled-out struct.

[2022-10-23 13:17] rebcabin opened #1225 "ASR types versus ASR names for distinguishing types"
This issues is another case where the names of ASR terms are (IMO, improperly) used to specify the types of these terms, similar to Issue #1224.

Consider these ttypes:

[code]
The variables `derived_type`, `enum_type`, and `class_type` are all declared of type `symbol`. But that's too broad. They're really of type `DerivedType`, `EnumType`, and `ClassType` respectively, where

[code]

As written,

[2022-10-24 16:18] certik opened #1226 "Feature request: random.randint"
We need:
[code]

[2022-10-24 16:19] certik commented on #1226
We probably can use https://numpy.org/doc/stable/reference/random/generated/numpy.random.randint.html

[2022-10-25 22:02] certik opened #1228 "Semantic issue with variables inside a for loop"
In Python it seems you can use variables that are declared inside a for loop, but in LPython you cannot.

This works in CPython but not in LPython:
[code]

[2022-10-27 00:49] certik opened #1231 "Bug in function dependency tracker"
The following code:
[code]
Gives:
[code]

[2022-10-27 00:57] certik opened #1232 "Unify stmt and expr"
Currently in Python we can have code as follows:
[code]
Which will print "Something".

This is currently represented in the compiler roughly as:
[code]

If we only have expressions, then the above will not be an assignment, but just the expression (`2+g()` or `g()`) and we will not use the result.

[2022-10-27 05:37] Thirumalai-Shaktivel commented on #772
Useful links:
https://llvm.org/docs/LangRef.html#metadata

[2022-10-27 14:36] certik commented on #1232
However, one downside is that in expressions like `2+g()` suddenly some Expr nodes (the former Stmt nodes) would not be allowed. That is not very consistent. Also, many times we accept an expression, say for dimensions, indexing, or loop begin/end, etc. We would have to add verify() checks for each case that it is not a former Stmt node, and handle the case if it is (or assert, etc.).

Here is an

[2022-10-28 03:36] czgdp1807 commented on #1231
I think its a problem with ASR verify because if you read the error message then `g` is actually present in `f`'s dependency list but verify isn't able to figure that out. Let me see what I can do to fix it. Self-assigning.

[2022-10-28 04:01] czgdp1807 commented on #1231
Well its not a bug with dependency tracker. If I disable that check I get the following ASR for `f`,

[code]

As you can see `2 + g()` statement is absent in the final ASR. So probably the bug is in AST to ASR transition.

[2022-10-28 04:06] czgdp1807 commented on #1231
So the question is how to deal with statements (or should we call target-less expressions?) of the kind `2 + g()`. I think they should be present in the ASR because `g()` might be modifying a non-constant global variable so not executing `2 + g()` is a mistake I think.

**My conclusion** - This is not a bug with dependency tracker because ASR itself is incomplete so verify is bound to fail anyways

[2022-10-28 04:58] certik commented on #1231
Yes, the `2+g()` must be represented in ASR. I think the immediate solution is https://github.com/lcompilers/lpython/issues/1232#issuecomment-1293624014, that is, adding an Expr stmt node.

[2022-10-28 06:06] Smit-create commented on #1228
https://github.com/lcompilers/lpython/issues/892#issuecomment-1222330814

[2022-10-29 05:10] Smit-create opened #1242 "ASR: [BUG] Error while using dot to access module variable"
[code]

LPython Output:
[code]

CPython:
[code]

[2022-10-29 05:18] Smit-create commented on #1242
The alternative works:
[code]

[2022-10-29 10:52] Thirumalai-Shaktivel commented on #1242
Yup, I noticed this when I was working on the Import python packages.
I will work on this after I complete runtime stackstrace issue

[2022-10-29 13:43] Smit-create commented on #1242
I will try that tomorrow!

[2022-10-30 15:37] Shaikh-Ubaid commented on #1222
https://github.com/lcompilers/lpython/blob/fc08c06fbcbc60d1000b7da0f2da4f8a72f3c622/src/libasr/codegen/asr_to_wasm.cpp#L1935-L1949

In `wasm`, when printing strings, we have the length of the string and its location in memory onto the stack. In `x86` as well, when there is a call to print string, we would be having the length of the string and its memory location onto the `x86` stack. The concern

[2022-10-30 15:42] Shaikh-Ubaid commented on #1222
This idea of printing strings using its length and memory location is more of our own concept/choice. It is possible that `WASI` might have different mechanism of printing string. At the moment, we do not have support for `WASI`.

[2022-10-31 06:29] Smit-create opened #1245 "ASR: [BUG] Tuple/List Compare"
[code]

LPython generates the ASR but looks incorrect:
[code]

And, therefore it fails in the backend:
[code]

The same code works in CPython.

[2022-10-31 11:18] #1242 closed

[2022-10-31 12:41] Smit-create opened #1246 "C: Segmentation fault on generated test_math.c"
I am trying to compile and run the generated C code from `integrations/test_math.py`. LPython generates the code successfully but running the generated code after compilation gives a Segmentation fault. Debugging more into this found the following issue:
The generated code contains:
[code]

And the `_lfortran_dlog` in `lfortran_intrinsincs.c` also uses a function `log` from `math.h`
[code]

I supp

[2022-11-01 10:44] Smit-create commented on #1245
@certik I see that the `Compare` node was removed in this PR #566 and some other type-specific Compare nodes were introduced. What should be done in this case?

[2022-11-01 16:35] Shaikh-Ubaid opened #1249 "ASR: Support array storage in memory order - row major or col major"
First encountered here https://github.com/lcompilers/lpython/pull/1118#discussion_r973492701

https://github.com/lcompilers/lpython/blob/8ec42d225a08f5b3d6bce9dd68680ddabdfb8a6c/src/libasr/codegen/asr_to_wasm.cpp#L1432-L1442

Currently, when syncing `lpython` and `lfortran` libasr's, we are needing to keep track of this. Both the `libasr's` slightly diverge due to it.

[2022-11-01 16:45] Shaikh-Ubaid opened #1250 "Good Design for Frontend that shared most of the code with other LCompilers"
In `lpython`, the code in `EMSCRIPTEN KEEPALIVE` functions in `src/libasr/codegen/asr_to_wasm.cpp` files is long (and does not look very maintainable). The code for the same functions in `lfortran` is less long as it uses/utilises `FortranEvaluator`.

From https://lfortran.zulipchat.com/#narrow/stream/311866-LPython/topic/WASM.20Backend/near/296663142,

We need something like the `FortranEvaluator

[2022-11-02 04:39] Shaikh-Ubaid commented on #1222
Prospective Roadmap:
- [ ] support printing `strings`
- [ ] support `if else` (thus support `assert`)
- [ ] support `stop` and `error stop` (we need `error stop` for `CI` tests)
- [ ] support `wasm_x86` at the `CI`
- [ ] support printing negative integers
- [ ] support `loops` (hopefully including `continue` and `break`)
- [ ] support `floating point` numbers (and operations on them)

[2022-11-02 14:40] Thirumalai-Shaktivel commented on #1222
@Shaikh-Ubaid sorry, I was a little busy with this PR: https://github.com/lcompilers/lpython/pull/1256.
So, were you able to figure out a way for the [comment](https://github.com/lcompilers/lpython/issues/1222#issuecomment-1296286509)?
I'm interested in working on this issue alongside with you! What are you working now?

[2022-11-02 18:09] certik commented on #1222
Here is how to benchmark:
[code]

[2022-11-02 18:57] Shaikh-Ubaid commented on #1222
There is a hackish idea to support printing strings in the `wasm_x86` backend. I am not sure if it would work but I am positive.

Sure, we can work together. I am hoping to follow the roadmap shared here https://github.com/lcompilers/lpython/issues/1222#issuecomment-1299557743. You can proceed with supporting `if else` in the `wasm_x86`. Please feel free to get in touch for any clarification/query

[2022-11-02 19:15] certik commented on #1222
Here are the timing results. With `N = 10000`, the above script produces a file with 90,015 lines. Here are the results (best timing each):
[code]
The programs runs on x86 Linux:
[code]
Summary for this particular example:

| Backend | Time | Speedup over LLVM |
| --- | --- | --- |
| LLVM | 3.034 | 1x |
| WASM x86 | 0.129 | 23.5x |
| x86 | 0.104 | 29.2x |

[2022-11-02 19:37] Shaikh-Ubaid commented on #1250
[code]

There is a significant amount of code like the above being repeated in functions like `compile_python_to_object_file()`, `compile_to_binary_wasm()`, `compile_to_binary_x86()` (and also the `EMSCRIPTEN_KEEPALIVE` functions). We need-to/should figure out a good solution to eliminate the repetitive code.

[2022-11-02 20:44] certik commented on #1222
@Shaikh-Ubaid can you please submit a PR with the script in https://github.com/lcompilers/lpython/issues/1222#issuecomment-1301031741 and put it into `src/bin`? That way we can use it for benchmarking.

[2022-11-02 23:01] certik commented on #1250
Thanks for opening an issue for this. Indeed, there is tons of repetitive code like this, which has to deal with executing one or more (but not necessarily all) of the steps in the pipeline `preprocessor / prescanner / tokenizer / parser / ast -> asr / asr passes / llvm / machine code`.

[2022-11-02 23:02] certik commented on #1249
@czgdp1807 another argument to possibly use `Array` ASR node.

[2022-11-03 03:32] czgdp1807 commented on #1249
The refactoring makes sense. The question is when do you want to do it?

[2022-11-03 03:37] certik commented on #1249
After we deliver on Minpack. We are close, don't want to delay it.

[2022-11-03 06:22] Thirumalai-Shaktivel commented on #1250
I think we can merge all the functions (`emit_ast`, `emit_asr`, `emit_cpp`, `emit_c`, `emit_wat`, `emit_llvm`, `compile_python_to_object_file()`, `compile_to_binary_wasm()` and `compile_to_binary_x86()`) into one and pass an argument that has the above function name.
Say, we want `emit_llvm`, so we can pass, `emit_llvm` as an arguement to the merged function. Now, we generates till `llvm`, print a

[2022-11-03 06:28] Thirumalai-Shaktivel commented on #1250
@Shaikh-Ubaid, This seems easy to fix. Do you want to work on this? Or Let me give it a try?

[2022-11-03 08:17] Shaikh-Ubaid commented on #1222
Submitted here https://github.com/lcompilers/lpython/pull/1260

[2022-11-03 08:26] Shaikh-Ubaid commented on #1222
**Debug Mode** Benchmark results for `N = 10000` on AMD Ryzen 5 2500U with Radeon Vega Mobile Gfx @1.6GHz
[code]
---

**Release Mode** Benchmark results for `N = 10000` on AMD Ryzen 5 2500U with Radeon Vega Mobile Gfx @1.6GHz
[code]

---

**Note**: The above results (of both **Debug** mode and **Release** mode) are for single time execution.

[2022-11-03 17:25] czgdp1807 opened #1263 "Supporting deep copy and shallow copy simultaneously"
For all the aggregate data structures like arrays, lists (their sections), structs we need to support both deep copy and shallow copy simultaneously.

The current state for arrays, lists and structs is as follows,

1. Full arrays as variables are shallow copied
2. ArraySections are deep copied via arr_slice.cpp
3. List and ListSection are always deep copied
4. Structs (i.e., dataclass) are shallow

[2022-11-04 15:20] Thirumalai-Shaktivel commented on #1222
[This](https://stackoverflow.com/questions/19886399/assembly-masm-dealing-with-negative-integers)  might help with printing negative numbers, I looking for some other resources.

[2022-11-04 16:21] Thirumalai-Shaktivel commented on #1222
How do I implement `asm_shr_r32_mm8`?
Just like:
https://github.com/lcompilers/lpython/blob/50848976e8d32dd1f0ebdad3c15554aba2521fe9/src/libasr/codegen/x86_assembler.h#L692-L701
Where to look for `hex value` for `shr`?
@certik @Shaikh-Ubaid

[2022-11-04 16:45] certik opened #1266 "ASR: Add "deterministic" and "side-effect-free" flags to Function"
Roughly like this:
[code]
It's probably time to lump all these attributes into some "tuple" in ASR.asdl, but that's a separate issue.

Using the properties I and II listed at Wikipedia: https://en.wikipedia.org/wiki/Pure_function:

* *deterministic*: arguments fully determine the result, no dependence on external state (no reading of global variables)
* *side-effect-free*: no writing to global var

[2022-11-04 17:43] certik opened #1267 "Cast IntegerToCharacter seems to use incorrect type"
Here is an example:
[code]
Which produces the following ASR code:
[code]
I think the `(Character 1 1 () [])` type in `Cast` should rather be `(Character 1 -2 () [])` in this case.

[2022-11-04 18:09] certik opened #1268 "Expose BitCast into Python, use it to implement to_bytes()"
We have a BitCast node, currently not used in LPython, and currently not implemented in the LLVM backend. The node casts a given variable, while keeping the bit memory representation intact. We can expose it by creating a `bit_cast()` function in ltypes.

Then we could implement `to_bytes()` by using this `bit_cast` of an i32 integer to a 4 byte string, then implement the "length" first argument b

[2022-11-05 12:57] Shaikh-Ubaid opened #1272 "Pass CompilerOptions as argument to python_ast_to_asr()"
We can later simply pass `CompilerOptions` into `python_ast_to_asr`, to avoid the long argument list.

_Originally posted by @certik in https://github.com/lcompilers/lpython/pull/1185#pullrequestreview-1146801056_

[2022-11-05 20:54] #1272 closed

[2022-11-07 05:38] Thirumalai-Shaktivel commented on #1222
@Shaikh-Ubaid, I have a doubt?https://github.com/lcompilers/lpython/blob/d4a6d5360ca520d9a25d658e6660cb39a2eda4e2/src/libasr/codegen/wasm_to_x86.cpp#L101-L102
Here`ConstI32` value is pushed into the stack, right? Does this mean it will be stored in the `eax`?
Instead why not we `mov value to eax` and `pop the eax` in the ConstI32 visitor?

[2022-11-07 06:22] Shaikh-Ubaid commented on #1222
It will be stored in the stack. It will not be stored in `eax`, I think.

We need the value to be on top of stack. Do you mean to first store the value in `eax` and then push the `eax` value onto stack? It would be a two step process and hence not be efficient, since we can achieve the same by directly pushing onto stack.

[2022-11-07 06:27] Thirumalai-Shaktivel commented on #1222
Okay, After pushing the value into stack. Do you use that value, later in the process?

[2022-11-07 06:30] Shaikh-Ubaid commented on #1218
I am looking at this issue for some time. I would like to work on this. Shall I give it a try @Thirumalai-Shaktivel ?

[2022-11-07 06:32] Thirumalai-Shaktivel commented on #1218
I didn't start working on this issue.

Sure, that would be very helpful.

[2022-11-07 06:32] Shaikh-Ubaid commented on #1218
Thank you!

[2022-11-07 06:35] Thirumalai-Shaktivel commented on #1222
I'm a little confused here, Can you share some useful resource to better understand the working of `eax`, `ebx`, `stack` ...?

[2022-11-07 06:35] Shaikh-Ubaid commented on #1222
Yes, the other instructions that follow use it. For example, After the `I32Const`, there could be an instruction `I32Neg` (hypothetical example) which would use the value on top of stack (it pops it to use it), negate it and then push back onto stack.

[2022-11-07 06:37] Thirumalai-Shaktivel commented on #1222
Cool, got it. Thanks

[2022-11-07 06:39] Shaikh-Ubaid commented on #1222
I mostly used a combination of https://www.intel.com/content/dam/www/public/us/en/documents/manuals/64-ia-32-architectures-software-developer-instruction-set-reference-manual-325383.pdf (also shared on Zulip, it seems slightly big), Google Search and (some) Youtube.

I did not find any specific (great) resource for `x86` yet. If you find something, please let me know.

[2022-11-07 06:41] Thirumalai-Shaktivel commented on #1132
This issue was fixed by this PR: https://github.com/lcompilers/lpython/pull/1147.

[2022-11-07 06:41] #1132 closed

[2022-11-09 13:01] Smit-create opened #1278 "String attributes need refactoring"
https://github.com/lcompilers/lpython/blob/d4a6d5360ca520d9a25d658e6660cb39a2eda4e2/src/lpython/semantics/python_comptime_eval.h#L69-L76

These string methods are never used during compile-time evaluation as they are represented by ConstantStr in ASR and handled differently in `python_ast_to_asr.cpp` and so this makes the file unnecessarily lengthy as well as the `python_ast_to_asr`. Moreover, the

[2022-11-09 16:41] certik opened #1280 "Import nested modules"
It is a high priority for us to be able to get the following imports working:
[code]

[2022-11-09 18:03] certik commented on #1266
TODO
* [ ] add those two parameters to ASR
* [ ] in the visit_Function we set `current_function_deterministic = true` and `current_function_side_effect_free = true`
* [ ] then when we visit each statement, and we are either writing or reading nonlocal variables, we set either `current_function_deterministic` or `current_function_side_effect_free` to false.
* [ ] then when calling `make_Function` w

[2022-11-09 19:43] Shaikh-Ubaid commented on #1218
I have the following doubts, please possibly clarify.

https://github.com/lcompilers/lpython/blob/d4a6d5360ca520d9a25d658e6660cb39a2eda4e2/src/libasr/location.h#L97-L98
1. What is the difference between output code and original code? Why could we not directly use the original code for storing positions?

https://github.com/lcompilers/lpython/blob/d4a6d5360ca520d9a25d658e6660cb39a2eda4e2/src/libasr

[2022-11-09 21:44] certik opened #1282 "Change the resulting type of `/`"
This is the current behavior (in Python source code):
[code]
I propose we change it to the following:
[code]
So if an integer is divided, it always becomes f64. But for floating point it would keep the kind. This is in line with other operators like `*` (the only difference is that for integer arguments `/` must return a float):
[code]

I guess one could also argue that `i32 / i32 -> f64` must ret

[2022-11-09 21:45] certik commented on #1282
@czgdp1807 let me know what you think. If you agree, then you can go ahead and do it, I think you know how to do it quickly.

[2022-11-09 21:51] certik opened #1283 "Possible options for implicit casting"
Now when https://github.com/lcompilers/lpython/pull/1271 is in, I suggest we keep it for some time and see how it feels.

If we decide we want to implement some implicit casting, it seems we can't do any implicit casting in assignment, because in CPython the LHS type is taken from the RHS, so LPython must follow the same approach in order to be compatible, so we cannot do any implicit casting ther

[2022-11-10 03:30] certik commented on #1280
Now when #1281 is in, what remains to be done?

I'll test it soon with our production code and see if anything remains. One thing that we need is finding these nested modules using the `-I` flag. I don't know if this works already or not yet.

[2022-11-10 03:38] Thirumalai-Shaktivel commented on #1280
The following doesn't work
[code]
I will try to debug and report back.

[2022-11-10 03:40] certik commented on #1280
The use case we have is `lpython a.py` and in `a.py` we do `from A.B.C.D import x`, where the package `A` lives somewhere completely else and have to specify the path using `-I`.

[2022-11-10 05:40] #1267 closed

[2022-11-10 11:27] Thirumalai-Shaktivel commented on #1218
After thinking on this issue, I came to the conclusion that instead of concatenating all the files, ...
Why not simply print the error message in `compile_module_till_asr()` (since all the imported files are compiled till asr), along with the current file Semantic error, something like this:
[code]
@certik @Shaikh-Ubaid What do you think?

[2022-11-10 11:32] Thirumalai-Shaktivel commented on #1218
Nested import would like this:
[code]

[2022-11-10 11:49] Thirumalai-Shaktivel commented on #1280
The following work:
[code]
The nested modules has the following error:
[code]
I will debug and report back

[2022-11-10 18:29] akshanshbhatt opened #1287 "`for-loop` does not work in lpython"
While trying to work on https://github.com/lcompilers/lpython/issues/1228, I tried some of the simplest for-loop statements in lpython such as -
[code]

[code]

and it didn't work. So, before working on #1228, we need to work on making these work first.

[2022-11-10 18:38] Shaikh-Ubaid commented on #1287
I think/guess simple `for` loops work in `lpython`. To some extent, `for-in` loop is also supported https://github.com/lcompilers/lpython/pull/775.

[2022-11-10 18:44] akshanshbhatt commented on #1287
Oh, I see- Can you once confirm that the examples I mentioned work on your setup?

[2022-11-10 20:05] Shaikh-Ubaid commented on #1287
Example:
[code]

Output:
[code]
It seems to work fine on my system.

[2022-11-10 20:13] akshanshbhatt commented on #1287
Yeah, I discussed this with @certik yesterday. It works inside function def and not independently.

[2022-11-10 22:49] czgdp1807 commented on #1287
I guess there are many features that don’t work in global scope.

[2022-11-11 04:13] czgdp1807 commented on #1287
I see what's going on here. The code is calling `visit_stmt` of `SymbolTableVisitor` and `visit_For` is only defined in `BodyVisitor`. Seems like its possible to make loops work in global scope by minor changes in how we visit statements in Module in `SymbolTableVisitor`.

[2022-11-11 04:21] #1282 closed

[2022-11-11 04:22] czgdp1807 commented on #1287
The following diff makes things work,

[code]

**Example Code**

[code]

Output,

[code]

[2022-11-11 05:37] #1278 closed

[2022-11-11 06:20] Thirumalai-Shaktivel commented on #772
https://github.com/lcompilers/lpython/pull/1093#issuecomment-1310734674

..

[2022-11-11 10:27] czgdp1807 opened #1289 "Returning structs from functions"
One can return the functions from structs in one of the following ways. Each one of these except the last one can be made to break,

1. **Return structs by value** - In both LLVM and C backends #1288 implements return type of structs by value. And then create a temporary variable to store that struct value into a struct pointer. See my comment https://github.com/lcompilers/lpython/pull/955#discuss

[2022-11-11 17:31] czgdp1807 commented on #1289
So two steps to be done,

1. **Change the way we allocate structs** - Allocate array members data and set in the array descriptor for it. Basically pre-allocate array data members. Backend specific step, ASR shouldn't be concerned.
2. **Deepcopy to the intent out return variable**

Long term,

1. **Implement the optimizer to remove all deepcopies and just modify the intent out argument directly wh

[2022-11-11 17:39] certik commented on #1289
In `mat_vec.mat = mat_s`, ASR does a deep copy. The restriction is that you cannot touch `mat_s` afterwards. That way we are 100% compatible with CPython. See #707.

[2022-11-11 17:45] certik commented on #1289
We can rename `Assignment` to `DeepCopy`, later.

[2022-11-13 08:35] Shaikh-Ubaid commented on #1218
I am working on this issue. I probably need some more time, please.

[2022-11-13 11:48] Shaikh-Ubaid commented on #1218
Also, I came across this

**Code:**
[code]
**Output:**
[code]

During our last meet, Ondrej discussed that `lpython` (like other compiler's usually do) should detect (and print) all the compilation errors in all the files (the `main module` file + other imported files). In the above example, we see that there are three `semantic` (type mismatch) errors, but `lpython` at present detects only one. P

[2022-11-13 11:53] Shaikh-Ubaid commented on #1218
With respect to the above [comment](https://github.com/lcompilers/lpython/issues/1218#issuecomment-1312710513), at present, it seems that even if the `LocationManager` concatenates all the files, the compilation would stop at the first error captured (in the `main module` or in one of the `imported` files).

[2022-11-13 14:41] Thirumalai-Shaktivel commented on #1218
https://github.com/lcompilers/lpython/issues/1218#issuecomment-1312710513
This feature would be very useful, and yes, this yet and has to be implemented.

But, I think [here](https://github.com/lcompilers/lpython/issues/1218#issue-1416996968) @certik is talking about something like the following. Consider an example:
a.py
[code]
b.py
[code]
c.py
[code]
So, here we have to push_back or concatenate

[2022-11-13 14:41] Thirumalai-Shaktivel commented on #1218
Yup, take your time. Also, please any doubts you have.

[2022-11-13 15:39] Thirumalai-Shaktivel commented on #1006
Fixed in this PR: https://github.com/lcompilers/lpython/pull/1271

[2022-11-13 15:41] Thirumalai-Shaktivel commented on #1142
We get the following error message:
[code]

[2022-11-13 17:49] Shaikh-Ubaid commented on #1218
Thank you for the clarification, Thirumalai. It seems the situation you shared here https://github.com/lcompilers/lpython/issues/1218#issuecomment-1312746742 is (to some extent) partially supported by the current `lpython`. I attempted to (hopefully) improve it in https://github.com/lcompilers/lpython/pull/1294, but it did not need to modify the `LocationManager` to support it.

I am slightly conf

[2022-11-13 18:14] Shaikh-Ubaid commented on #1218
https://github.com/lcompilers/lpython/blob/ce4612d5d2a7207ab8147bb102e39bbbe5e67e2c/src/lpython/semantics/python_ast_to_asr.cpp#L242-L263

Everytime `compile_module_till_asr()` is called, a new object of `LocationManger` is created (Line 27 in the above code).

Currently, each object of `LocationManger` has access to a single file. There is no object of `LocationManager` which has access to all (i

[2022-11-14 17:25] Thirumalai-Shaktivel opened #1298 "[WASM_x86] Bug in the loop statement"
It seems this condition `(if_unique_id.size() - loop_unique_id.size() == label_index - 1)` might not be perfect to determine to `continue` or `end` the `loop`. Consider the following example where we have a `loop` inside an `if` construct:

[code]

Output:
[code]

The `loop` in this case just executes once and then exits. This is because in this case (when `visit_Br()` is visited) the `if` count w

[2022-11-15 08:56] #1289 closed

[2022-11-16 02:57] #1298 closed

[2022-11-16 21:59] certik opened #1305 "Importing modules does not work"
[code]
This gives:
[code]

[2022-11-16 21:59] certik commented on #1305
@Thirumalai-Shaktivel any idea why this does not work?

[2022-11-16 22:00] certik commented on #992
I just tested it, here is the latest status on this:

https://github.com/lcompilers/lpython/issues/1305

[2022-11-16 22:02] certik commented on #155
The highest priority issues I think right now are:

* https://github.com/lcompilers/lpython/issues/1305
* https://github.com/lcompilers/lpython/pull/1297

[2022-11-17 00:46] Thirumalai-Shaktivel commented on #1305
Currently, we don't support
[code]
Instead this works:
[code]
[code]
I will try to work on this soon.

[2022-11-18 07:09] Thirumalai-Shaktivel commented on #1305
Fixed here: https://github.com/lcompilers/lpython/pull/1306

[2022-11-18 13:02] Shaikh-Ubaid commented on #1222
@certik do we need support for floating point numbers in the `x86` and `wasm_x86` backends? It seems for floating point numbers, we would need to extend `x86_assembler.cpp`.

[2022-11-18 23:34] certik commented on #1305
Ok, the above now works with #1306, but more deeply nested doesn't:
[code]

[2022-11-19 05:20] Thirumalai-Shaktivel commented on #1305
Fixed here: https://github.com/lcompilers/lpython/pull/1315

[2022-11-20 19:29] certik commented on #1305
I think it works now!

I can't think of any case that doesn't work, so I am going to close this issue as fixed. If we discover more things that don't work, I'll open a new issue.

@Thirumalai-Shaktivel, @czgdp1807 are we ready now to start making Python packages that compile with LPython?

[2022-11-21 03:04] certik commented on #1222
Yes, we should do floating point numbers.

[2022-11-21 05:27] Thirumalai-Shaktivel commented on #1305
I came across another issue that doesn't work yet. Like for this example:
[code]
Error:
[code]
I will try to work on this later this week. After that, I think we are ready to start making python packages.

[2022-11-21 05:29] Thirumalai-Shaktivel opened #1316 "Modify the handling of exit to throw the correct code"
I recently came across something like this:
[code]
[code]
So, I thought to replace this with the following change:
[code]
@certik

_Originally posted by @Thirumalai-Shaktivel in https://github.com/lcompilers/lpython/pull/1302#discussion_r1027038771_

[2022-11-21 14:20] certik commented on #1305
Can you open up a dedicated issue for this and close this issue?

[2022-11-21 14:21] Thirumalai-Shaktivel opened #1317 "Importing modules does not work inside the function"
I came across another issue that doesn't work yet. Like for this example:
[code]
Error:
[code]
I will try to work on this later this week. After that, I think we are ready to start making python packages.

_Originally posted by @Thirumalai-Shaktivel in https://github.com/lcompilers/lpython/issues/1305#issuecomment-1321485441_

[2022-11-21 14:22] czgdp1807 commented on #1305
At least I will start writing code in a modular way and compile it using LPython. Probably by the end of this week or early next week.

[2022-11-21 14:29] Thirumalai-Shaktivel commented on #1305
I referenced [this](https://github.com/lcompilers/lpython/issues/1305#issuecomment-1321485441) as a new issue.

[2022-11-21 14:49] certik commented on #1305
Thanks!

[2022-11-21 14:49] #1305 closed

[2022-11-21 14:52] certik commented on #1317
We have two options:

* Handle it in the frontend, so `test_import.print_b()` just becomes an ExternalSymbol to the correct `print_b()` and the information that it was called via `test_import.` will be lost.
* Add `test_import` as a symbol into the SymbolTable.

The second approach is more general, it would allow to treat modules as symbols / variables. Not sure if we need it or not.

@czgdp1807 w

[2022-11-21 22:12] #1218 closed

[2022-11-21 23:29] certik opened #1319 "-I doesn't work"
Here is an example:

https://github.com/certik/mathfn/issues/1

[2022-11-21 23:29] certik commented on #1319
@Thirumalai-Shaktivel you might now what the issue is.

[2022-11-23 06:03] czgdp1807 opened #1321 "Support ``Const`` in WASM"
Got an error with `func_inline_02` in https://pipelines.actions.githubusercontent.com/serviceHosts/4a41bdcd-a42f-420f-a0d4-5f3146035d5d/_apis/pipelines/1/runs/3648/signedlogcontent/6?urlExpires=2022-11-23T06%3A03%3A27.6034477Z&urlSigningMethod=HMACV1&urlSignature=t8QO7j4MG7DEBMUBi0V0cuOUJN0Yf0i%2BnISFn9X%2FEm0%3D

[code]

[2022-11-23 13:00] Thirumalai-Shaktivel commented on #1319
@czgdp1807 are you working on this issue?

[2022-11-23 13:08] Thirumalai-Shaktivel commented on #1319
Following fix this issue:
[code]
Now, we get this error:
[code]

[2022-11-23 14:12] czgdp1807 commented on #1319
Yes I am. Will make a PR shortly.

Yes. I figured out earlier today.

I am fixing this as well. Will send the PR. The logic of `set_module_symbol` is on a case by case basis and is hard coded. So it will fail on such cases.

[2022-11-23 14:14] Thirumalai-Shaktivel commented on #1319
Yup, Thanks for fixing it.

[2022-11-24 04:14] #1319 closed

[2022-11-24 05:21] Thirumalai-Shaktivel commented on #992
Related issues:
- #1317
- #1280

[2022-11-24 08:22] certik commented on #1317
Regarding priorities, this is nice to have, but not critical, as we can simply import the symbols directly.

[2022-11-24 08:24] certik commented on #1280
@Thirumalai-Shaktivel this now works, doesn't it?

[2022-11-24 08:25] czgdp1807 commented on #1317
Oh yes. I am fixing this exact issue. I think we follow second approach right now. But for the case with function defined inside a module has the same name as the module then second approach will be messier because you will have to do name mangling. See `mathfn` for example, `mathfn/sin.py` is a module which has `def sin` defined inside it. So here first approach is an easy to follow option. Howev

[2022-11-24 08:26] Thirumalai-Shaktivel commented on #1280
Yup, It works. I just added the comment to keep track of all the import issues.

[2022-11-24 08:40] certik commented on #1280
I am going to close this one then.

[2022-11-24 08:40] #1280 closed

[2022-11-24 08:42] certik commented on #1317
I would work on this later, I think first we should implement more examples, such as making mathfn much more complex and see what else is missing. Then we can do this one in a more natural manner.

[2022-11-24 11:48] Thirumalai-Shaktivel commented on #772
I get the following error, while using dsymutil:
[code]
Do we have any other alternative for this? Can we fix this error?

[2022-11-24 12:16] Thirumalai-Shaktivel commented on #772
I get the expected output using this:
[code]

[2022-11-24 12:30] Thirumalai-Shaktivel commented on #772
I think I was able to generate `lines.txt` and `lines.dat`?
How do I move forward with this issue?
@certik

[2022-11-25 10:55] Thirumalai-Shaktivel commented on #772
https://github.com/lcompilers/lpython/blob/67251c23745f11349dedf9a449d7acbe994f5080/src/bin/CMakeLists.txt#L27-L38
I used the same method as this. There seems to be a problem. `lpython.dSYM/lines.dat` is empty.

[2022-11-25 11:02] Thirumalai-Shaktivel commented on #772
[code]
<details>
<summary>a.txt</summary>

./src/bin/lpython:	file format elf64-x86-64

.debug_line contents:
debug_line[0x00000000]
Line table prologue:
    total_length: 0x00031e7a
          format: DWARF32
         version: 5
    address_size: 8
 seg_select_size: 0
 prologue_length: 0x00000423
 min_inst_length: 1
max_ops_per_inst: 1
 default_is_stmt: 1
       line_base: -5
      line_range: 14

[2022-11-25 16:20] certik commented on #772
Are you trying to get these files for LPython? CMake already does it correctly, so you can just do what it does. Run `dsymtil`, `llvm-dwarfdump`, `dwarf_convert.py`, in the right directory, etc. However all of this is already done and it works.

What we need to do is something similar for binaries that we create.

[2022-11-26 05:16] Thirumalai-Shaktivel commented on #772
Got it, Thank you.
I think, I got confused or understood the above comments wrong.
Now, I know what to do.

[2022-11-29 09:23] certik opened #1330 "x64: how to encode 64bit registers"
In 32 bit, we have the following registers:
[code]
In 64 bit we have the following registers:
[code]
To encode these 64bit registers using the REX + modrm, you simply take the 4 bit registers number (0-15) and put the first bit into REX (into the R or B bit, depending on which part of modrm you are encoding) and put the other 3 bits into modrm as for 32bit. So you can reuse all the functions that

[2022-11-29 09:32] certik commented on #1330
So let's just extend the existing x86 assembler with new instructions. We take these:
[code]
and extend them to 64 bit as follows:
[code]

And also we need a syscall.

[2022-11-30 13:02] certik opened #1333 "Feature request: an equivalent of "char buffer[64];" in a struct"
Right now if you do:
[code]
It will produce an array with a descriptor. But rather, we need it to produce `char buffer[64]`, that is, 64 bytes of memory. It could be that we can use a descriptor by default, but if we do:
[code]
Then it would use the array directly.

[2022-11-30 15:28] certik opened #1334 "Feature request: pointers in emulation mode"
This works with LPython:
[code]
But not in CPython mode, because "b" is not declared in `c_p_pointer(mystruct, b)`:
[code]
Also the implementation of `c_p_pointer` makes no sense:
[code]
As it needs to use the `cptr` pointer. Rather, the implementation must look something like this:
[code]

[2022-11-30 19:32] czgdp1807 commented on #1333
For both C and LLVM backends, correct? And specifically for `i8` type?

[2022-11-30 21:53] certik commented on #1333
Yes, I would always do it for the LLVM backend to ensure the design is good. This we also need for the C backend. Yes, we need it for i8, and if we needed larger ones later, I think we could "emulate" them using i8.